![Banner|50](../Assets/Banner_ETL.png)

--- 
Librerias
---

In [2]:
import pandas as pd
import numpy as np
import pymysql

In [3]:
df_AcVelLoc_SR = pd.read_excel("../Data/Internet.xlsx", sheet_name='Acc_vel_loc_sinrangos')
df_AcVel_SR = pd.read_excel("../Data/Internet.xlsx", sheet_name='Velocidad_sin_Rangos')
df_AcTec_Loc = pd.read_excel("../Data/Internet.xlsx", sheet_name='Accesos_tecnologia_localidad')
df_VelPorc_x_Prov = pd.read_excel("../Data/Internet.xlsx", sheet_name='Velocidad % por prov')
df_Tot_VMD = pd.read_excel("../Data/Internet.xlsx", sheet_name='Totales VMD')
df_TotAccTecn = pd.read_excel("../Data/Internet.xlsx", sheet_name='Totales Accesos Por Tecnología')
df_Acc_x_Tec = pd.read_excel("../Data/Internet.xlsx", sheet_name='Accesos Por Tecnología')
df_Pen_Pob = pd.read_excel("../Data/Internet.xlsx", sheet_name='Penetración-poblacion')
df_Pen_Hog = pd.read_excel("../Data/Internet.xlsx", sheet_name='Penetracion-hogares')
df_Pen_Tot = pd.read_excel("../Data/Internet.xlsx", sheet_name='Penetracion-totales')
df_Tot_Acc_x_Vel = pd.read_excel("../Data/Internet.xlsx", sheet_name='Totales Accesos por velocidad')
df_Acc_x_Vel = pd.read_excel("../Data/Internet.xlsx", sheet_name='Accesos por velocidad')
df_Dial_BAf = pd.read_excel("../Data/Internet.xlsx", sheet_name='Dial-BAf')
df_Tot_Dial_BAf = pd.read_excel("../Data/Internet.xlsx", sheet_name='Totales Dial-BAf')
df_Ingresos = pd.read_excel("../Data/Internet.xlsx", sheet_name='Ingresos ')

# Datos de Mapa de Conectividad
df_mapa_conectividad = pd.read_excel("../Data/mapa_conectividad.xlsx")

In [4]:
# Datos para Telefonía movil
df_ing_tel_movil = pd.read_excel('../Data/Telefonia_movil.xlsx', sheet_name='Ingresos')
df_acce_tel_movil = pd.read_excel('../Data/Telefonia_movil.xlsx', sheet_name='Accesos')
df_acce_tel_movil_hab = pd.read_excel('../Data/Telefonia_movil.xlsx', sheet_name='Penetracion')

In [129]:
# datasets para TV
df_accesos_TV = pd.read_excel('../Data/Television.xlsx', sheet_name='Accesos_totales_TV')
df_ingresos_TV = pd.read_excel('../Data/Television.xlsx', sheet_name='Ingresos_TV')
df_penetracion_TV = pd.read_excel('../Data/Television.xlsx', sheet_name='Penetracion_totales_TV')

---
Accesos divididos por Velocidad con Localidad Sin Rangos
---

In [5]:
df_AcVelLoc_SR.head()

,Provincia,Partido,Localidad,Link Indec,Otros,"0,256 Mbps","0,5 Mbps","0,512 Mbps","0,75 Mbps",1 Mbps,...,680 Mbps,700 Mbps,800 Mbps,850 Mbps,900 Mbps,999 Mbps,1000 Mbps,1024 Mbps,4000 Mbps,10000 Mbps
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,NaN,NaN,2.0,NaN,19.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,6854010,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BUENOS AIRES,25 de Mayo,Del Valle,6854020,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BUENOS AIRES,25 de Mayo,Ernestina,6854030,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_AcVelLoc_SR.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3065 entries, 0 to 3064
Columns: 125 entries, Provincia to 10000 Mbps
dtypes: float64(121), object(4)
memory usage: 2.9+ MB

In [7]:
df_AcVelLoc_SR.describe()

,Otros,"0,256 Mbps","0,5 Mbps","0,512 Mbps","0,75 Mbps",1 Mbps,"1,5 Mbps",2 Mbps,"2,2 Mbps","2,5 Mbps",...,680 Mbps,700 Mbps,800 Mbps,850 Mbps,900 Mbps,999 Mbps,1000 Mbps,1024 Mbps,4000 Mbps,10000 Mbps
count,1030.000000,36.000000,642.000000,525.000000,284.000000,872.000000,15.000000,677.000000,1.0,4.000000,...,1.0,4.0,4.000000,1.0,1.0,17.000000,420.000000,2.0,1.0,2.000000
mean,318.614563,2.944444,42.978193,2.100952,39.588028,66.642202,132.533333,101.428360,18.0,156.500000,...,5.0,1.0,153.500000,1.0,110.0,3.352941,609.683333,1.0,1.0,5.000000
std,2964.939611,5.806127,985.466627,4.684645,118.563946,222.345674,291.222268,278.821468,NaN,212.528429,...,NaN,0.0,273.381906,NaN,NaN,5.700232,3431.387543,0.0,NaN,5.656854
min,-15.000000,1.000000,0.000000,1.000000,1.000000,0.000000,7.000000,1.000000,18.0,21.000000,...,5.0,1.0,1.000000,1.0,110.0,1.000000,1.000000,1.0,1.0,1.000000
25%,1.000000,1.000000,1.000000,1.000000,3.000000,2.000000,31.000000,4.000000,18.0,35.250000,...,5.0,1.0,10.750000,1.0,110.0,1.000000,17.000000,1.0,1.0,3.000000
50%,6.000000,1.000000,1.000000,1.000000,9.500000,10.000000,47.000000,21.000000,18.0,66.500000,...,5.0,1.0,25.000000,1.0,110.0,2.000000,139.500000,1.0,1.0,5.000000
75%,48.000000,2.000000,2.000000,1.000000,28.000000,40.250000,75.000000,77.000000,18.0,187.750000,...,5.0,1.0,167.750000,1.0,110.0,3.000000,498.000000,1.0,1.0,7.000000
max,87722.000000,31.000000,24968.000000,61.000000,1307.000000,4111.000000,1170.000000,3530.000000,18.0,472.000000,...,5.0,1.0,563.000000,1.0,110.0,25.000000,68405.000000,1.0,1.0,9.000000

In [8]:
print ('cantidad nulos por columna:')
for columna in df_AcVelLoc_SR.columns:
    print(f"-->Columna: {columna}, Total nulos: {df_AcVelLoc_SR[columna].isnull().sum()}")

cantidad nulos por columna:
-->Columna: Provincia, Total nulos: 0
-->Columna: Partido, Total nulos: 0
-->Columna: Localidad, Total nulos: 0
-->Columna: Link Indec, Total nulos: 0
-->Columna: Otros, Total nulos: 2035
-->Columna: 0,256 Mbps, Total nulos: 3029
-->Columna: 0,5 Mbps, Total nulos: 2423
-->Columna: 0,512 Mbps, Total nulos: 2540
-->Columna: 0,75 Mbps, Total nulos: 2781
-->Columna: 1 Mbps, Total nulos: 2193
-->Columna: 1,5 Mbps, Total nulos: 3050
-->Columna: 2 Mbps, Total nulos: 2388
-->Columna: 2,2 Mbps, Total nulos: 3064
-->Columna: 2,5 Mbps, Total nulos: 3061
-->Columna: 3 Mbps, Total nulos: 1801
-->Columna: 3,3 Mbps, Total nulos: 3064
-->Columna: 3,5 Mbps, Total nulos: 2695
-->Columna: 4 Mbps, Total nulos: 2592
-->Columna: 4,5 Mbps, Total nulos: 3064
-->Columna: 5 Mbps, Total nulos: 2105
-->Columna: 6 Mbps, Total nulos: 1718
-->Columna: 6,4 Mbps, Total nulos: 3064
-->Columna: 7 Mbps, Total nulos: 2872
-->Columna: 7,5 Mbps, Total nulos: 3064
-->Columna: 8 Mbps, Total nulos: 2449
-->Columna: 9 Mbps, Total nulos: 3014
-->Columna: 10 Mbps, Total nulos: 1335
-->Columna: 10,1 Mbps, Total nulos: 3064
-->Columna: 10,2 Mbps, Total nulos: 3064
-->Columna: 11 Mbps, Total nulos: 3038
-->Columna: 12 Mbps, Total nulos: 2763
-->Columna: 12,3 Mbps, Total nulos: 3064
-->Columna: 13 Mbps, Total nulos: 3051
-->Columna: 14 Mbps, Total nulos: 3038
-->Columna: 15 Mbps, Total nulos: 1967
-->Columna: 16 Mbps, Total nulos: 3047
-->Columna: 17 Mbps, Total nulos: 3064
-->Columna: 18 Mbps, Total nulos: 3047
-->Columna: 20 Mbps, Total nulos: 2001
-->Columna: 20,5 Mbps, Total nulos: 3064
-->Columna: 21 Mbps, Total nulos: 3062
-->Columna: 22 Mbps, Total nulos: 3064
-->Columna: 23 Mbps, Total nulos: 3063
-->Columna: 24 Mbps, Total nulos: 3047
-->Columna: 25 Mbps, Total nulos: 2631
-->Columna: 25,1 Mbps, Total nulos: 3064
-->Columna: 25,5 Mbps, Total nulos: 3064
-->Columna: 26 Mbps, Total nulos: 3064
-->Columna: 27 Mbps, Total nulos: 3064
-->Columna: 30 Mbps, Total nulos: 2324
-->Columna: 31 Mbps, Total nulos: 3060
-->Columna: 32 Mbps, Total nulos: 3064
-->Columna: 35 Mbps, Total nulos: 3030
-->Columna: 36 Mbps, Total nulos: 3061
-->Columna: 40 Mbps, Total nulos: 2951
-->Columna: 41 Mbps, Total nulos: 3063
-->Columna: 45 Mbps, Total nulos: 3063
-->Columna: 48 Mbps, Total nulos: 3061
-->Columna: 49 Mbps, Total nulos: 3064
-->Columna: 50 Mbps, Total nulos: 2303
-->Columna: 50,1 Mbps, Total nulos: 3064
-->Columna: 50,25 Mbps, Total nulos: 3064
-->Columna: 51 Mbps, Total nulos: 3063
-->Columna: 55 Mbps, Total nulos: 3061
-->Columna: 59 Mbps, Total nulos: 3064
-->Columna: 60 Mbps, Total nulos: 2795
-->Columna: 61 Mbps, Total nulos: 3062
-->Columna: 65 Mbps, Total nulos: 3062
-->Columna: 66 Mbps, Total nulos: 3064
-->Columna: 70 Mbps, Total nulos: 3045
-->Columna: 75 Mbps, Total nulos: 2870
-->Columna: 80 Mbps, Total nulos: 3035
-->Columna: 85 Mbps, Total nulos: 3064
-->Columna: 90 Mbps, Total nulos: 3060
-->Columna: 95 Mbps, Total nulos: 3064
-->Columna: 98 Mbps, Total nulos: 3064
-->Columna: 100 Mbps, Total nulos: 2442
-->Columna: 100,1 Mbps, Total nulos: 3064
-->Columna: 100,25 Mbps, Total nulos: 3064
-->Columna: 105 Mbps, Total nulos: 3063
-->Columna: 110 Mbps, Total nulos: 3064
-->Columna: 120 Mbps, Total nulos: 3035
-->Columna: 122 Mbps, Total nulos: 3064
-->Columna: 125 Mbps, Total nulos: 3063
-->Columna: 130 Mbps, Total nulos: 3064
-->Columna: 140 Mbps, Total nulos: 3063
-->Columna: 150 Mbps, Total nulos: 2808
-->Columna: 155 Mbps, Total nulos: 3064
-->Columna: 160 Mbps, Total nulos: 3060
-->Columna: 164 Mbps, Total nulos: 3064
-->Columna: 165 Mbps, Total nulos: 3063
-->Columna: 180 Mbps, Total nulos: 3064
-->Columna: 200 Mbps, Total nulos: 2919
-->Columna: 205 Mbps, Total nulos: 3064
-->Columna: 212 Mbps, Total nulos: 3064
-->Columna: 220 Mbps, Total nulos: 3064
-->Columna: 225 Mbps, Total nulos: 3063
-->Columna: 240 Mbps, Total nulos: 3059
-->Columna: 246 Mbps, Total nulos: 3064
-->Columna: 250 Mbps, Total nulos: 3047
-->Columna: 256 Mbps, Total nulos: 3062
-->Columna: 275 Mbps, Total nulos: 3064
-->Columna: 300 Mbps, Total nulos: 2620
-->Columna: 320 Mbps, Total nulos: 3063
-->Columna: 325 Mbps, Total nulos: 3064
-->Columna: 330 Mbps, Total nulos: 3064
-->Columna: 350 Mbps, Total nulos: 3063
-->Columna: 400 Mbps, Total nulos: 3052
-->Columna: 450 Mbps, Total nulos: 3064
-->Columna: 480 Mbps, Total nulos: 3063
-->Columna: 500 Mbps, Total nulos: 2641
-->Columna: 512 Mbps, Total nulos: 3057
-->Columna: 520 Mbps, Total nulos: 3064
-->Columna: 540 Mbps, Total nulos: 3064
-->Columna: 600 Mbps, Total nulos: 2906
-->Columna: 680 Mbps, Total nulos: 3064
-->Columna: 700 Mbps, Total nulos: 3061
-->Columna: 800 Mbps, Total nulos: 3061
-->Columna: 850 Mbps, Total nulos: 3064
-->Columna: 900 Mbps, Total nulos: 3064
-->Columna: 999 Mbps, Total nulos: 3048
-->Columna: 1000 Mbps, Total nulos: 2645
-->Columna: 1024 Mbps, Total nulos: 3063
-->Columna: 4000 Mbps, Total nulos: 3064
-->Columna: 10000 Mbps, Total nulos: 3063

La manera de comprimir la informacion de este Dataframe es mediante la agrupación de columnas por rangos de velocidad. De esta manera, se hace más legible la información.

In [9]:
# Se agrupa el Dataframe de la página 1 mediante rangos de Mbps
# Se definen los rangos de columnas
column_groups = {
    '0 a 1 Mbps': ['0,256 Mbps', '0,5 Mbps', '0,512 Mbps', '0,75 Mbps', '1 Mbps'],
    '1.5 a 3 Mbps': ['1,5 Mbps', '2 Mbps', '2,2 Mbps', '2,5 Mbps', '3 Mbps'],
    '3.3 a 5 Mbps': ['3,3 Mbps', '3,5 Mbps', '4 Mbps', '4,5 Mbps', '5 Mbps'],
    '6 a 10 Mbps': ['6 Mbps', '6,4 Mbps', '7 Mbps', '7,5 Mbps',	'8 Mbps', '9 Mbps',	'10 Mbps'],
    '10.1 a 25 Mbps': ['10,1 Mbps', '10,2 Mbps', '11 Mbps', '12 Mbps',	'12,3 Mbps', '13 Mbps',	'14 Mbps', '15 Mbps', '16 Mbps', '17 Mbps', '18 Mbps', '20 Mbps', '20,5 Mbps',	'21 Mbps', '22 Mbps', '23 Mbps', '24 Mbps', '25 Mbps'],
    '25.1 a 50 Mbps': ['25,1 Mbps', '25,5 Mbps', '26 Mbps', '27 Mbps',	'30 Mbps', '31 Mbps', '32 Mbps', '35 Mbps', '36 Mbps', '40 Mbps', '41 Mbps', '45 Mbps', '48 Mbps',	'49 Mbps', '50 Mbps'],
    '50.1 a 100 Mbps': ['50,1 Mbps', '50,25 Mbps', '51 Mbps', '55 Mbps', '59 Mbps', '60 Mbps', '61 Mbps', '65 Mbps', '66 Mbps', '70 Mbps', '75 Mbps', '80 Mbps', '85 Mbps',	'90 Mbps', '95 Mbps', '98 Mbps', '100 Mbps'],
    '100.1 a 300 Mbps': ['100,1 Mbps', '100,25 Mbps', '105 Mbps', '110 Mbps', '120 Mbps', '122 Mbps', '125 Mbps', '130 Mbps', '140 Mbps', '150 Mbps', '155 Mbps', '160 Mbps', '164 Mbps', '165 Mbps', '180 Mbps', '200 Mbps', '205 Mbps' , '212 Mbps', '220 Mbps', '225 Mbps', '240 Mbps', '246 Mbps', '250 Mbps', '256 Mbps', '275 Mbps', '300 Mbps'],
    '300.1 a 500 Mbps': ['320 Mbps', '325 Mbps', '330 Mbps', '350 Mbps', '400 Mbps', '450 Mbps', '480 Mbps', '500 Mbps'],
    'Mayor a 500 Mbps': ['512 Mbps', '520 Mbps', '540 Mbps', '600 Mbps', '680 Mbps', '700 Mbps', '800 Mbps', '850 Mbps', '900 Mbps', '999 Mbps', '1000 Mbps', '1024 Mbps', '4000 Mbps', '10000 Mbps'],
    'Otros': ['Otros']
}

def group_columns_by_range(df, column_groups, agg_func='sum'):
    """
    Agrupa columnas por rangos definidos y aplica una función de agregación.
    
    :param df: DataFrame original.
    :param column_groups: Diccionario con los nombres de los grupos y las columnas correspondientes.
    :param agg_func: Función de agregación ('sum', 'mean', etc.).
    :return: DataFrame con columnas agrupadas.
    """
    grouped_df = pd.DataFrame()
    
    for group_name, columns in column_groups.items():
        if agg_func == 'sum':
            grouped_df[group_name] = df[columns].sum(axis=1)
        elif agg_func == 'mean':
            grouped_df[group_name] = df[columns].mean(axis=1)    
    return grouped_df


# Agrupando con ayuda de la función definida anteriormente
df_grouped_fn = group_columns_by_range(df_AcVelLoc_SR, column_groups)
# Se agrega la columna provincia al dataFrame
df_grouped_fn['Provincia'] = df_AcVelLoc_SR['Provincia']
# Se agrupan los datos por la columna Provincia
df_grouped_fn = df_grouped_fn.groupby(by='Provincia').sum()
# Se agrega la columna total que suma e total de cada fila para saber conexiones por Provincia
df_grouped_fn['Total'] = df_grouped_fn.sum(axis=1)

#Imprime el dataframe generado
df_grouped_fn

,0 a 1 Mbps,1.5 a 3 Mbps,3.3 a 5 Mbps,6 a 10 Mbps,10.1 a 25 Mbps,25.1 a 50 Mbps,50.1 a 100 Mbps,100.1 a 300 Mbps,300.1 a 500 Mbps,Mayor a 500 Mbps,Otros,Total
Provincia,,,,,,,,,,,,
BUENOS AIRES,48512.0,63236.0,82510.0,308664.0,284608.0,1296268.0,959048.0,1555781.0,150677.0,170106.0,125147.0,5044557.0
CABA,5934.0,4220.0,16516.0,60432.0,37803.0,125198.0,394021.0,705338.0,86445.0,68804.0,0.0,1504711.0
CATAMARCA,247.0,1759.0,333.0,4204.0,5165.0,36072.0,17716.0,8141.0,372.0,854.0,70.0,74933.0
CHACO,652.0,3705.0,5667.0,13828.0,8968.0,35430.0,55941.0,25097.0,1610.0,829.0,3816.0,155543.0
CHUBUT,1194.0,7512.0,21995.0,46206.0,36631.0,39046.0,1257.0,159.0,3.0,33.0,16640.0,170676.0
CORDOBA,8155.0,33155.0,23444.0,141570.0,70133.0,250987.0,302237.0,210618.0,18929.0,8261.0,14710.0,1082199.0
CORRIENTES,2757.0,6813.0,4949.0,23405.0,9101.0,35132.0,37081.0,30296.0,1851.0,267.0,6242.0,157894.0
ENTRE RIOS,4397.0,11636.0,8141.0,66244.0,16985.0,46588.0,69813.0,54522.0,3543.0,708.0,13975.0,296552.0
FORMOSA,243.0,11731.0,5355.0,15971.0,4185.0,1645.0,11492.0,11104.0,581.0,109.0,302.0,62718.0
JUJUY,1326.0,4596.0,8017.0,13634.0,28556.0,45375.0,9396.0,4384.0,281.0,518.0,1970.0,118053.0
LA PAMPA,1490.0,8611.0,6979.0,46772.0,16764.0,30171.0,7900.0,1772.0,129.0,8.0,1599.0,122195.0
LA RIOJA,425.0,412.0,182.0,2308.0,24979.0,41437.0,11474.0,6073.0,469.0,23.0,0.0,87782.0
MENDOZA,3049.0,8608.0,13391.0,34794.0,30830.0,164518.0,28347.0,11432.0,642.0,1420.0,5566.0,302597.0
MISIONES,3224.0,14893.0,4879.0,33479.0,9820.0,41281.0,51214.0,31836.0,1423.0,1981.0,8526.0,202556.0
NEUQUEN,1133.0,6929.0,19996.0,21939.0,10750.0,22966.0,30688.0,26473.0,2735.0,469.0,20168.0,164246.0
RIO NEGRO,1147.0,6105.0,10658.0,26378.0,24809.0,33100.0,32969.0,18724.0,1086.0,467.0,15576.0,171019.0
SALTA,1040.0,7269.0,13246.0,71367.0,3193.0,29347.0,38917.0,28843.0,1711.0,1282.0,6646.0,202861.0
SAN JUAN,2045.0,5009.0,12069.0,17997.0,12563.0,29086.0,3255.0,1790.0,6.0,91.0,22755.0,106666.0
SAN LUIS,688.0,3263.0,1767.0,30042.0,79674.0,7794.0,1983.0,740.0,29.0,24142.0,5968.0,156090.0
SANTA CRUZ,477.0,1983.0,3777.0,11581.0,8667.0,14444.0,4503.0,689.0,284.0,0.0,33803.0,80208.0
SANTA FE,6885.0,29557.0,23562.0,176205.0,71117.0,201734.0,216238.0,160029.0,11154.0,5939.0,16168.0,918588.0
SANTIAGO DEL ESTERO,1314.0,5918.0,1629.0,58092.0,24299.0,12520.0,10230.0,8542.0,664.0,237.0,917.0,124362.0
TIERRA DEL FUEGO,856.0,5.0,6043.0,13795.0,27810.0,4724.0,496.0,703.0,1.0,1.0,7121.0,61555.0
TUCUMAN,966.0,4812.0,3340.0,27993.0,23861.0,81424.0,75389.0,41674.0,2841.0,1807.0,488.0,264595.0

La información que se transformo en la parte de arriba, muestra rangos de velocidad de internet, sin embargo sólo del primer trimestre. comparando la informacion con el Dataframe 'Accesos por Provincia' se llega a la conclusión que es la misma, por esta razón se desecha el primer dataFrame y se toma el de nombre 'Accesos por provincia'.

In [10]:
df_Acc_x_Vel.head(24)

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2024,1,Buenos Aires,26002.0,22510.0,221185.0,233225.0,241778.0,106418.0,4068292.0,125147.0,5044557.0
1,2024,1,Capital Federal,516.0,5418.0,29753.0,51415.0,37369.0,5957.0,1374283.0,0.0,1504711.0
2,2024,1,Catamarca,71.0,176.0,2872.0,3424.0,4204.0,1822.0,62294.0,70.0,74933.0
3,2024,1,Chaco,236.0,416.0,14156.0,9044.0,5533.0,5718.0,116624.0,3816.0,155543.0
4,2024,1,Chubut,111.0,1083.0,43828.0,31885.0,23024.0,20261.0,33844.0,16640.0,170676.0
5,2024,1,Córdoba,99.0,8056.0,110371.0,87798.0,47085.0,29939.0,784141.0,14710.0,1082199.0
6,2024,1,Corrientes,67.0,2690.0,18637.0,16530.0,7680.0,1996.0,104052.0,6242.0,157894.0
7,2024,1,Entre Ríos,107.0,4290.0,34574.0,51447.0,16122.0,7228.0,168809.0,13975.0,296552.0
8,2024,1,Formosa,85.0,158.0,22133.0,10924.0,4176.0,273.0,24667.0,302.0,62718.0
9,2024,1,Jujuy,58.0,1268.0,14964.0,11283.0,28548.0,276.0,59686.0,1970.0,118053.0
10,2024,1,La Pampa,71.0,1419.0,45089.0,17273.0,15221.0,5332.0,36191.0,1599.0,122195.0
11,2024,1,La Rioja,18.0,407.0,1336.0,1566.0,24770.0,4710.0,54975.0,0.0,87782.0
12,2024,1,Mendoza,104.0,2945.0,35893.0,20900.0,30049.0,7623.0,199517.0,5566.0,302597.0
13,2024,1,Misiones,51.0,3173.0,26882.0,26369.0,9812.0,3638.0,124105.0,8526.0,202556.0
14,2024,1,Neuquén,136.0,997.0,35382.0,13482.0,10491.0,2934.0,80656.0,20168.0,164246.0
15,2024,1,Río Negro,112.0,1035.0,25500.0,17641.0,17191.0,18633.0,75331.0,15576.0,171019.0
16,2024,1,Salta,114.0,926.0,27352.0,64530.0,3192.0,62.0,100039.0,6646.0,202861.0
17,2024,1,San Juan,24.0,2021.0,22045.0,13030.0,11597.0,1343.0,33851.0,22755.0,106666.0
18,2024,1,San Luis,60.0,628.0,11318.0,23754.0,8953.0,70855.0,34554.0,5968.0,156090.0
19,2024,1,Santa Cruz,50.0,427.0,7764.0,9577.0,7182.0,7070.0,14335.0,33803.0,80208.0
20,2024,1,Santa Fe,468.0,6417.0,76294.0,153030.0,58595.0,28498.0,579118.0,16168.0,918588.0
21,2024,1,Santiago Del Estero,180.0,1134.0,12428.0,53211.0,24281.0,5796.0,26415.0,917.0,124362.0
22,2024,1,Tierra Del Fuego,22.0,834.0,10169.0,9674.0,12039.0,15932.0,5764.0,7121.0,61555.0
23,2024,1,Tucumán,39.0,927.0,16227.0,19918.0,23263.0,1582.0,202151.0,488.0,264595.0

Al analizar la hoja de datos del archivo que lleva por nombre -Acceso de Velocidad Sin Rangos Con Localidad- se observa lo siguiente: existen demasiados nulos en el dataframe, esto llevaría a realizar una ardua labor para conjuntar de acuerdo a localidad y rangos de Velocidad, sin embargo, existe una hoja en el archivo llamada ´Accesos por provincia´ que ya esta estructurada de esa manera por tal motivo, se procede a desechar la información de este DataFrame.

Sin embargo, las primeras cuatro columnas pueden ser de gran ayuda para formar una tabla con ´Provincia, Partido, Localidad y Link Indec´, puesto que esta información se condsidera importante para hacer consultas o en su caso unir o combinar DataFrames y nos arroja información de ubicación.

In [11]:
# Creamos un dataFrame que será el de carga a la DB
df_Acc_x_Vel_carga = df_Acc_x_Vel
# Se convierte la columna provincia a Mayusculas
df_Acc_x_Vel_carga['Provincia'] = df_Acc_x_Vel['Provincia'].str.upper()
# se analizan si hay datos Nan en el DataFrame por cada columna
df_Acc_x_Vel_carga.isna().sum()

Año                    0
Trimestre              0
Provincia              0
HASTA 512 kbps         0
+ 512 Kbps - 1 Mbps    0
+ 1 Mbps - 6 Mbps      0
+ 6 Mbps - 10 Mbps     0
+ 10 Mbps - 20 Mbps    0
+ 20 Mbps - 30 Mbps    0
+ 30 Mbps              0
OTROS                  6
Total                  0
dtype: int64

In [12]:
df_Acc_x_Vel_carga['OTROS'] = df_Acc_x_Vel_carga['OTROS'].fillna(0) # En la columna otros existen 6 nulos que se llenan con ceros ya que es conteo

Puesto que la mayoria de la información ya esta transformada, sólo se procede a unir los DataFrames para tener una sola Base de Datos, las columnas que tienen la misma cantidad de filas son:
1. velocidad % prov
2. accesos por tecnologia
3. penetración de población 
4. penetración de hogares
5. accesos por velocidad
6. DIAL-BAF

---
Velocidad % por provincia
---

---

Iniciamos quitando nulos y transformando columna proviancia a mayusculas

In [13]:
df_VelPorc_x_Prov.head()

    Año  Trimestre        Provincia  Mbps (Media de bajada)
0  2024          1     Buenos Aires                  159.13
1  2024          1  Capital Federal                  229.94
2  2024          1        Catamarca                   91.45
3  2024          1            Chaco                  107.51
4  2024          1           Chubut                   20.50

In [14]:
df_VelPorc_x_Prov.info() # No se observan nulos, vacios o NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 984 entries, 0 to 983
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     984 non-null    int64
 1   Trimestre               984 non-null    int64
 2   Provincia               984 non-null    object
 3   Mbps (Media de bajada)  984 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 30.9+ KB

In [15]:
df_VelPorc_x_Prov['Provincia'] = df_VelPorc_x_Prov['Provincia'].str.upper()

In [16]:
df_VelPorc_x_Prov

      Año  Trimestre            Provincia  Mbps (Media de bajada)
0    2024          1         BUENOS AIRES              159.130000
1    2024          1      CAPITAL FEDERAL              229.940000
2    2024          1            CATAMARCA               91.450000
3    2024          1                CHACO              107.510000
4    2024          1               CHUBUT               20.500000
..    ...        ...                  ...                     ...
979  2014          1           SANTA CRUZ                3.315991
980  2014          1             SANTA FE                3.147407
981  2014          1  SANTIAGO DEL ESTERO                2.949472
982  2014          1     TIERRA DEL FUEGO                3.446888
983  2014          1              TUCUMÁN                3.208342

[984 rows x 4 columns]

---
Accesos por tecnologia
---

---

In [17]:
df_Acc_x_Tec #Las ultimas dos columnas son de datos nulos

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2024,1,Buenos Aires,203297.0,2790663.0,1799013.0,150290.0,101294.0,5044557.0
1,2024,1,Capital Federal,70108.0,1177475.0,203756.0,4493.0,48879.0,1504711.0
2,2024,1,Catamarca,5901.0,11025.0,56542.0,1384.0,81.0,74933.0
3,2024,1,Chaco,11343.0,58929.0,64463.0,8404.0,12404.0,155543.0
4,2024,1,Chubut,26306.0,77217.0,26356.0,30867.0,9930.0,170676.0
...,...,...,...,...,...,...,...,...,...
981,2014,1,Santiago Del Estero,32567.0,3598.0,19.0,915.0,34.0,37133.0
982,2014,1,Tierra Del Fuego,21618.0,2837.0,648.0,1.0,2934.0,28038.0
983,2014,1,Tucumán,129717.0,83.0,121.0,13.0,98.0,130032.0
984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
985,*,Los datos provinciales no coinciden a nivel na...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df_Acc_x_Tec.loc[984] # La fila con indice 984 tiene datos NaN por lo que se procede a eliminar

Año             NaN
Trimestre       NaN
Provincia       NaN
ADSL            NaN
Cablemodem      NaN
Fibra óptica    NaN
Wireless        NaN
Otros           NaN
Total           NaN
Name: 984, dtype: object

In [19]:
df_Acc_x_Tec.loc[985] # La fila con indice 985 tiene datos NaN por lo que se procede a eliminar

Año                                                             *
Trimestre       Los datos provinciales no coinciden a nivel na...
Provincia                                                     NaN
ADSL                                                          NaN
Cablemodem                                                    NaN
Fibra óptica                                                  NaN
Wireless                                                      NaN
Otros                                                         NaN
Total                                                         NaN
Name: 985, dtype: object

In [20]:
# se eliminan las filas 984 y 985
df_Acc_x_Tec.drop([984,985], axis=0, inplace=True)

In [21]:
df_Acc_x_Tec.info() #Ya no se observan datos nulos, sin embargo el año y trimestre deben ser de tipo int

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 984 entries, 0 to 983
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           984 non-null    object
 1   Trimestre     984 non-null    object
 2   Provincia     984 non-null    object
 3   ADSL          984 non-null    float64
 4   Cablemodem    984 non-null    float64
 5   Fibra óptica  984 non-null    float64
 6   Wireless      984 non-null    float64
 7   Otros         984 non-null    float64
 8   Total         984 non-null    float64
dtypes: float64(6), object(3)
memory usage: 69.3+ KB

In [22]:
df_Acc_x_Tec['Año'].unique()

array([2024, 2023, 2022, 2021, 2020, 2019, '2019 *', 2018, 2017, 2016,
       2015, 2014], dtype=object)

In [23]:
# Existe un dato del 2019 que tiene 2019 *, por lo que se procede a cambiarlo
df_Acc_x_Tec['Año'] = df_Acc_x_Tec['Año'].replace('2019 *', 2019)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_33432\1878587585.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_Acc_x_Tec['Año'] = df_Acc_x_Tec['Año'].replace('2019 *', 2019)

In [24]:
df_Acc_x_Tec['Año'].unique()

array([2024, 2023, 2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014],
      dtype=int64)

In [25]:
# Se convierte la columna a tipo entero
df_Acc_x_Tec['Año'] = df_Acc_x_Tec['Año'].astype(int)

In [26]:
# Se transforman la columna provincia a mayusculas
df_Acc_x_Tec['Provincia'] = df_Acc_x_Tec['Provincia'].str.upper()

In [27]:
# Existen unos datos de trimestre que tiene 1 *, 2 *, 3 * y 4 *, por lo que se procede a cambiarlo
df_Acc_x_Tec['Trimestre'].unique()

array([1, 4, 3, 2, '3 *', '2 *', '1 *'], dtype=object)

In [28]:
df_Acc_x_Tec['Trimestre'] = df_Acc_x_Tec['Trimestre'].replace('1 *', 1)
df_Acc_x_Tec['Trimestre'] = df_Acc_x_Tec['Trimestre'].replace('2 *', 2)
df_Acc_x_Tec['Trimestre'] = df_Acc_x_Tec['Trimestre'].replace('3 *', 3)
df_Acc_x_Tec['Trimestre'] = df_Acc_x_Tec['Trimestre'].replace('4 *', 4)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_33432\2381150191.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_Acc_x_Tec['Trimestre'] = df_Acc_x_Tec['Trimestre'].replace('3 *', 3)

In [29]:
# Existen un dato de trimestre que tiene 1 *, 2 *, 3 * y 4 *, por lo que se procede a cambiarlo
df_Acc_x_Tec['Trimestre'].unique()

array([1, 4, 3, 2], dtype=int64)

In [30]:
df_Acc_x_Tec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 984 entries, 0 to 983
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           984 non-null    int32
 1   Trimestre     984 non-null    int64
 2   Provincia     984 non-null    object
 3   ADSL          984 non-null    float64
 4   Cablemodem    984 non-null    float64
 5   Fibra óptica  984 non-null    float64
 6   Wireless      984 non-null    float64
 7   Otros         984 non-null    float64
 8   Total         984 non-null    float64
dtypes: float64(6), int32(1), int64(1), object(1)
memory usage: 65.5+ KB

In [31]:
df_Acc_x_Tec = df_Acc_x_Tec.rename(columns={'Total': 'Total Acceso Tecnologia'})

In [32]:
df_Acc_x_Tec

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total Acceso Tecnologia
0,2024,1,BUENOS AIRES,203297.0,2790663.0,1799013.0,150290.0,101294.0,5044557.0
1,2024,1,CAPITAL FEDERAL,70108.0,1177475.0,203756.0,4493.0,48879.0,1504711.0
2,2024,1,CATAMARCA,5901.0,11025.0,56542.0,1384.0,81.0,74933.0
3,2024,1,CHACO,11343.0,58929.0,64463.0,8404.0,12404.0,155543.0
4,2024,1,CHUBUT,26306.0,77217.0,26356.0,30867.0,9930.0,170676.0
...,...,...,...,...,...,...,...,...,...
979,2014,1,SANTA CRUZ,18927.0,100.0,381.0,4092.0,3264.0,26764.0
980,2014,1,SANTA FE,322662.0,174296.0,3059.0,5951.0,644.0,506612.0
981,2014,1,SANTIAGO DEL ESTERO,32567.0,3598.0,19.0,915.0,34.0,37133.0
982,2014,1,TIERRA DEL FUEGO,21618.0,2837.0,648.0,1.0,2934.0,28038.0
983,2014,1,TUCUMÁN,129717.0,83.0,121.0,13.0,98.0,130032.0

---
Penetración de Población por provincia y trimestre
---
---

In [33]:
df_Pen_Pob.head(5)

    Año  Trimestre        Provincia  Accesos por cada 100 hab
0  2024          1     Buenos Aires                     27.80
1  2024          1  Capital Federal                     48.78
2  2024          1        Catamarca                     17.50
3  2024          1            Chaco                     12.48
4  2024          1           Chubut                     26.02

In [34]:
df_Pen_Pob.info() #No se observan datos nulos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 984 entries, 0 to 983
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Año                       984 non-null    int64
 1   Trimestre                 984 non-null    int64
 2   Provincia                 984 non-null    object
 3   Accesos por cada 100 hab  984 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 30.9+ KB

In [35]:
# Pasar provincia a Mayusculas
df_Pen_Pob['Provincia'] = df_Pen_Pob['Provincia'].str.upper()

In [36]:
df_Pen_Pob

      Año  Trimestre            Provincia  Accesos por cada 100 hab
0    2024          1         BUENOS AIRES                 27.800000
1    2024          1      CAPITAL FEDERAL                 48.780000
2    2024          1            CATAMARCA                 17.500000
3    2024          1                CHACO                 12.480000
4    2024          1               CHUBUT                 26.020000
..    ...        ...                  ...                       ...
979  2014          1           SANTA CRUZ                  8.677327
980  2014          1             SANTA FE                 15.077801
981  2014          1  SANTIAGO DEL ESTERO                  4.058899
982  2014          1     TIERRA DEL FUEGO                 19.104921
983  2014          1              TUCUMÁN                  8.307215

[984 rows x 4 columns]

---
Penetración Hogares por provincia y trimestre
---
---

In [37]:
df_Pen_Hog.head(5)

    Año  Trimestre        Provincia  Accesos por cada 100 hogares
0  2024          1     Buenos Aires                         81.10
1  2024          1  Capital Federal                        119.53
2  2024          1        Catamarca                         68.82
3  2024          1            Chaco                         46.70
4  2024          1           Chubut                         84.89

In [38]:
df_Pen_Hog.info() # No hay datos nulos, NaN o vacios

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 984 entries, 0 to 983
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           984 non-null    int64
 1   Trimestre                     984 non-null    int64
 2   Provincia                     984 non-null    object
 3   Accesos por cada 100 hogares  984 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 30.9+ KB

In [39]:
# Pasar provincia a Mayusculas
df_Pen_Hog['Provincia'] = df_Pen_Hog['Provincia'].str.upper()

In [40]:
df_Pen_Hog

      Año  Trimestre            Provincia  Accesos por cada 100 hogares
0    2024          1         BUENOS AIRES                     81.100000
1    2024          1      CAPITAL FEDERAL                    119.530000
2    2024          1            CATAMARCA                     68.820000
3    2024          1                CHACO                     46.700000
4    2024          1               CHUBUT                     84.890000
..    ...        ...                  ...                           ...
979  2014          1           SANTA CRUZ                     28.939093
980  2014          1             SANTA FE                     47.847663
981  2014          1  SANTIAGO DEL ESTERO                     16.309924
982  2014          1     TIERRA DEL FUEGO                     63.965926
983  2014          1              TUCUMÁN                     33.420975

[984 rows x 4 columns]

---
Accesos por Velocidad
---
---

In [41]:
df_Acc_x_Vel

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2024,1,BUENOS AIRES,26002.0,22510.0,221185.0,233225.0,241778.0,106418.0,4068292.0,125147.0,5044557.0
1,2024,1,CAPITAL FEDERAL,516.0,5418.0,29753.0,51415.0,37369.0,5957.0,1374283.0,0.0,1504711.0
2,2024,1,CATAMARCA,71.0,176.0,2872.0,3424.0,4204.0,1822.0,62294.0,70.0,74933.0
3,2024,1,CHACO,236.0,416.0,14156.0,9044.0,5533.0,5718.0,116624.0,3816.0,155543.0
4,2024,1,CHUBUT,111.0,1083.0,43828.0,31885.0,23024.0,20261.0,33844.0,16640.0,170676.0
...,...,...,...,...,...,...,...,...,...,...,...,...
979,2014,1,SANTA CRUZ,161.0,1625.0,24972.0,1.0,1.0,0.0,0.0,0.0,26760.0
980,2014,1,SANTA FE,8456.0,124468.0,345225.0,20328.0,6845.0,23.0,668.0,0.0,506013.0
981,2014,1,SANTIAGO DEL ESTERO,1234.0,10531.0,22817.0,2422.0,109.0,0.0,0.0,0.0,37113.0
982,2014,1,TIERRA DEL FUEGO,12.0,607.0,30902.0,6.0,0.0,0.0,0.0,0.0,31527.0
983,2014,1,TUCUMÁN,6.0,34672.0,83210.0,11779.0,362.0,3.0,0.0,0.0,130032.0

In [42]:
df_Acc_x_Vel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 984 entries, 0 to 983
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Año                  984 non-null    int64
 1   Trimestre            984 non-null    int64
 2   Provincia            984 non-null    object
 3   HASTA 512 kbps       984 non-null    float64
 4   + 512 Kbps - 1 Mbps  984 non-null    float64
 5   + 1 Mbps - 6 Mbps    984 non-null    float64
 6   + 6 Mbps - 10 Mbps   984 non-null    float64
 7   + 10 Mbps - 20 Mbps  984 non-null    float64
 8   + 20 Mbps - 30 Mbps  984 non-null    float64
 9   + 30 Mbps            984 non-null    float64
 10  OTROS                984 non-null    float64
 11  Total                984 non-null    float64
dtypes: float64(9), int64(2), object(1)
memory usage: 92.4+ KB

In [43]:
df_Acc_x_Vel['OTROS'] = df_Acc_x_Vel['OTROS'].fillna(0) # En la columna otros existen 6 nulos que se llenan con ceros ya que es conteo

In [44]:
df_Acc_x_Vel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 984 entries, 0 to 983
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Año                  984 non-null    int64
 1   Trimestre            984 non-null    int64
 2   Provincia            984 non-null    object
 3   HASTA 512 kbps       984 non-null    float64
 4   + 512 Kbps - 1 Mbps  984 non-null    float64
 5   + 1 Mbps - 6 Mbps    984 non-null    float64
 6   + 6 Mbps - 10 Mbps   984 non-null    float64
 7   + 10 Mbps - 20 Mbps  984 non-null    float64
 8   + 20 Mbps - 30 Mbps  984 non-null    float64
 9   + 30 Mbps            984 non-null    float64
 10  OTROS                984 non-null    float64
 11  Total                984 non-null    float64
dtypes: float64(9), int64(2), object(1)
memory usage: 92.4+ KB

In [45]:
# Pasar provincia a Mayusculas
df_Acc_x_Vel['Provincia'] = df_Acc_x_Vel['Provincia'].str.upper()

In [46]:
df_Acc_x_Vel = df_Acc_x_Vel.rename(columns={'Total': 'Total velocidad'})

In [47]:
df_Acc_x_Vel

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total velocidad
0,2024,1,BUENOS AIRES,26002.0,22510.0,221185.0,233225.0,241778.0,106418.0,4068292.0,125147.0,5044557.0
1,2024,1,CAPITAL FEDERAL,516.0,5418.0,29753.0,51415.0,37369.0,5957.0,1374283.0,0.0,1504711.0
2,2024,1,CATAMARCA,71.0,176.0,2872.0,3424.0,4204.0,1822.0,62294.0,70.0,74933.0
3,2024,1,CHACO,236.0,416.0,14156.0,9044.0,5533.0,5718.0,116624.0,3816.0,155543.0
4,2024,1,CHUBUT,111.0,1083.0,43828.0,31885.0,23024.0,20261.0,33844.0,16640.0,170676.0
...,...,...,...,...,...,...,...,...,...,...,...,...
979,2014,1,SANTA CRUZ,161.0,1625.0,24972.0,1.0,1.0,0.0,0.0,0.0,26760.0
980,2014,1,SANTA FE,8456.0,124468.0,345225.0,20328.0,6845.0,23.0,668.0,0.0,506013.0
981,2014,1,SANTIAGO DEL ESTERO,1234.0,10531.0,22817.0,2422.0,109.0,0.0,0.0,0.0,37113.0
982,2014,1,TIERRA DEL FUEGO,12.0,607.0,30902.0,6.0,0.0,0.0,0.0,0.0,31527.0
983,2014,1,TUCUMÁN,6.0,34672.0,83210.0,11779.0,362.0,3.0,0.0,0.0,130032.0

In [48]:
df_Acc_x_Vel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 984 entries, 0 to 983
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Año                  984 non-null    int64
 1   Trimestre            984 non-null    int64
 2   Provincia            984 non-null    object
 3   HASTA 512 kbps       984 non-null    float64
 4   + 512 Kbps - 1 Mbps  984 non-null    float64
 5   + 1 Mbps - 6 Mbps    984 non-null    float64
 6   + 6 Mbps - 10 Mbps   984 non-null    float64
 7   + 10 Mbps - 20 Mbps  984 non-null    float64
 8   + 20 Mbps - 30 Mbps  984 non-null    float64
 9   + 30 Mbps            984 non-null    float64
 10  OTROS                984 non-null    float64
 11  Total velocidad      984 non-null    float64
dtypes: float64(9), int64(2), object(1)
memory usage: 92.4+ KB

---
Dial-BAF
---
---
Este dataframe tiene información del tipo de conexción por el cual acceden los usuarios, está dividida por Provincias y trimestres, así como años en que se registró la información.
Los datos que tiene son 3: 
1. Banda Ancha Fija (BAF): Coonexión de diferentes dispositivos a la red de internet y en ella se puede transmitir voz y datos.
2. Dial UP: Conexión a internet mediante una red conectada directamente a tu dispositivo.
3. Total: total de conexiones Dial-BAF (Banda Ancha Fija)

In [49]:
df_Dial_BAf.head(5)

    Año  Trimestre        Provincia  Banda ancha fija  Dial up    Total
0  2024          1     Buenos Aires           5038657   5900.0  5044557
1  2024          1  Capital Federal           1502661   2050.0  1504711
2  2024          1        Catamarca             74932      1.0    74933
3  2024          1            Chaco            155538      5.0   155543
4  2024          1           Chubut            169819    857.0   170676

In [50]:
df_Dial_BAf.shape

(984, 6)

In [51]:
df_Dial_BAf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 984 entries, 0 to 983
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               984 non-null    int64
 1   Trimestre         984 non-null    int64
 2   Provincia         984 non-null    object
 3   Banda ancha fija  984 non-null    int64
 4   Dial up           982 non-null    float64
 5   Total             984 non-null    int64
dtypes: float64(1), int64(4), object(1)
memory usage: 46.3+ KB

In [52]:
df_Dial_BAf[df_Dial_BAf['Dial up'] == df_Dial_BAf['Dial up'].isnull()] #Lista de datos en columna dial up con valor cero

      Año  Trimestre Provincia  Banda ancha fija  Dial up   Total
8    2024          1   Formosa             62718      0.0   62718
9    2024          1     Jujuy            118053      0.0  118053
13   2024          1  Misiones            202556      0.0  202556
32   2023          4   Formosa             62002      0.0   62002
33   2023          4     Jujuy            118020      0.0  118020
..    ...        ...       ...               ...      ...     ...
728  2016          3   Formosa             27716      0.0   27716
733  2016          3  Misiones             97997      0.0   97997
925  2014          3  Misiones             75327      0.0   75327
949  2014          2  Misiones             74689      0.0   74689
973  2014          1  Misiones             73950      0.0   73950

[80 rows x 6 columns]

In [53]:
df_Dial_BAf[df_Dial_BAf['Dial up'].isnull() == True] # Filtro de datos nulos en la columna Diap up

      Año  Trimestre Provincia  Banda ancha fija  Dial up   Total
560  2018          2   Formosa             44554      NaN   44554
565  2018          2  Misiones            106147      NaN  106147

In [54]:
df_Dial_BAf['Dial up'] = df_Dial_BAf['Dial up'].fillna(0) # Se llenan los nulos con cero

In [55]:
df_Dial_BAf.info() # se comprueba la transformación

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 984 entries, 0 to 983
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               984 non-null    int64
 1   Trimestre         984 non-null    int64
 2   Provincia         984 non-null    object
 3   Banda ancha fija  984 non-null    int64
 4   Dial up           984 non-null    float64
 5   Total             984 non-null    int64
dtypes: float64(1), int64(4), object(1)
memory usage: 46.3+ KB

In [56]:
df_Dial_BAf[df_Dial_BAf['Dial up'].isnull() == True] # se comprueba la transformación

Empty DataFrame
Columns: [Año, Trimestre, Provincia, Banda ancha fija, Dial up, Total]
Index: []

In [57]:
df_Dial_BAf = df_Dial_BAf.rename(columns={'Total': 'Total BAF-Dial'})

In [58]:
# Pasar provincia a Mayusculas
df_Dial_BAf['Provincia'] = df_Dial_BAf['Provincia'].str.upper()

In [59]:
df_Dial_BAf.head(5)

    Año  Trimestre        Provincia  Banda ancha fija  Dial up  Total BAF-Dial
0  2024          1     BUENOS AIRES           5038657   5900.0         5044557
1  2024          1  CAPITAL FEDERAL           1502661   2050.0         1504711
2  2024          1        CATAMARCA             74932      1.0           74933
3  2024          1            CHACO            155538      5.0          155543
4  2024          1           CHUBUT            169819    857.0          170676

---
Combinacion de los Dataframes

Todas las tablas que se tienen el mismo numero de filas y con la misma información inicial, se procede a combinar para tener un solo DataFrame

In [60]:
print(list(df_VelPorc_x_Prov.columns))
print(list(df_Acc_x_Tec.columns))
print(list(df_Pen_Pob.columns))
print(list(df_Pen_Hog.columns))
print(list(df_Acc_x_Vel.columns))
print(list(df_Dial_BAf.columns))

['Año', 'Trimestre', 'Provincia', 'Mbps (Media de bajada)']
['Año', 'Trimestre', 'Provincia', 'ADSL', 'Cablemodem', 'Fibra óptica', 'Wireless', 'Otros', 'Total Acceso Tecnologia']
['Año', 'Trimestre', 'Provincia', 'Accesos por cada 100 hab']
['Año', 'Trimestre', 'Provincia', 'Accesos por cada 100 hogares']
['Año', 'Trimestre', 'Provincia', 'HASTA 512 kbps', '+ 512 Kbps - 1 Mbps', '+ 1 Mbps - 6 Mbps', '+ 6 Mbps - 10 Mbps', '+ 10 Mbps - 20 Mbps', '+ 20 Mbps - 30 Mbps', '+ 30 Mbps', 'OTROS', 'Total velocidad']
['Año', 'Trimestre', 'Provincia', 'Banda ancha fija', 'Dial up', 'Total BAF-Dial']

In [61]:
# Seleccionamos los dataFrames a unir
df1 = df_Acc_x_Vel
df2 = df_VelPorc_x_Prov[['Mbps (Media de bajada)']]
df3 = df_Acc_x_Tec[['ADSL', 'Cablemodem', 'Fibra óptica', 'Wireless', 'Otros', 'Total Acceso Tecnologia']]
df4 = df_Pen_Pob[['Accesos por cada 100 hab']]
df5 = df_Pen_Hog[['Accesos por cada 100 hogares']]
df6 = df_Dial_BAf[['Banda ancha fija', 'Dial up', 'Total BAF-Dial']]

In [62]:
# Se unen los Dataframes
df_ready = pd.concat([df1, df2, df3, df4, df5, df6], axis=1)

In [63]:
df_ready.columns

Index(['Año', 'Trimestre', 'Provincia', 'HASTA 512 kbps',
       '+ 512 Kbps - 1 Mbps', '+ 1 Mbps - 6 Mbps', '+ 6 Mbps - 10 Mbps',
       '+ 10 Mbps - 20 Mbps', '+ 20 Mbps - 30 Mbps', '+ 30 Mbps', 'OTROS',
       'Total velocidad', 'Mbps (Media de bajada)', 'ADSL', 'Cablemodem',
       'Fibra óptica', 'Wireless', 'Otros', 'Total Acceso Tecnologia',
       'Accesos por cada 100 hab', 'Accesos por cada 100 hogares',
       'Banda ancha fija', 'Dial up', 'Total BAF-Dial'],
      dtype='object')

In [64]:
df_ready = df_ready.rename(columns= {'Año': 'Anio',
                                    'Trimestre': 'Trimestre',
                                    'Provincia': 'Provincia',
                                    'HASTA 512 kbps': '0 a 512 Kbps',
                                    '+ 512 Kbps - 1 Mbps' : '513 Kbps a 1 Mbps',
                                    '+ 1 Mbps - 6 Mbps': '1.1 a 6 Mbps',
                                    '+ 6 Mbps - 10 Mbps': '6.1 a 10 Mbps',
                                    '+ 10 Mbps - 20 Mbps': '10.1 a 20 Mbps',
                                    '+ 20 Mbps - 30 Mbps' : '20.1 a 30 Mbps', 
                                    '+ 30 Mbps' : 'Mayor a 30 Mbps', 
                                    'OTROS': 'Otras Velocidades',
                                    'Total velocidad' : 'Total Velocidades', 
                                    'Mbps (Media de bajada)': 'Mbps (Media de bajada)',
                                    'ADSL' : 'ADSL', 'Cablemodem': 'Cablemodem', 'Fibra óptica':'Fibra optica',
                                    'Wireless': 'Wireless', 'Otros': 'Otros accesos tecnologicos', 
                                    'Total Acceso Tecnologia': 'Total accesos tecnologicos', 
                                    'Accesos por cada 100 hab': 'Accesos cada 100 hab',
                                    'Accesos por cada 100 hogares': 'Accesos cada 100 hogares', 
                                    'Banda ancha fija': 'Banda Ancha Fija', 'Dial up': 'Dial up', 'Total BAF-Dial': 'Total BAF-Dial'})

In [65]:
df_ready.columns

Index(['Anio', 'Trimestre', 'Provincia', '0 a 512 Kbps', '513 Kbps a 1 Mbps',
       '1.1 a 6 Mbps', '6.1 a 10 Mbps', '10.1 a 20 Mbps', '20.1 a 30 Mbps',
       'Mayor a 30 Mbps', 'Otras Velocidades', 'Total Velocidades',
       'Mbps (Media de bajada)', 'ADSL', 'Cablemodem', 'Fibra optica',
       'Wireless', 'Otros accesos tecnologicos', 'Total accesos tecnologicos',
       'Accesos cada 100 hab', 'Accesos cada 100 hogares', 'Banda Ancha Fija',
       'Dial up', 'Total BAF-Dial'],
      dtype='object')

In [66]:
df_ready.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 984 entries, 0 to 983
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Anio                        984 non-null    int64
 1   Trimestre                   984 non-null    int64
 2   Provincia                   984 non-null    object
 3   0 a 512 Kbps                984 non-null    float64
 4   513 Kbps a 1 Mbps           984 non-null    float64
 5   1.1 a 6 Mbps                984 non-null    float64
 6   6.1 a 10 Mbps               984 non-null    float64
 7   10.1 a 20 Mbps              984 non-null    float64
 8   20.1 a 30 Mbps              984 non-null    float64
 9   Mayor a 30 Mbps             984 non-null    float64
 10  Otras Velocidades           984 non-null    float64
 11  Total Velocidades           984 non-null    float64
 12  Mbps (Media de bajada)      984 non-null    float64
 13  ADSL                        984 non-null    float64
 14  Cablemodem                  984 non-null    float64
 15  Fibra optica                984 non-null    float64
 16  Wireless                    984 non-null    float64
 17  Otros accesos tecnologicos  984 non-null    float64
 18  Total accesos tecnologicos  984 non-null    float64
 19  Accesos cada 100 hab        984 non-null    float64
 20  Accesos cada 100 hogares    984 non-null    float64
 21  Banda Ancha Fija            984 non-null    int64
 22  Dial up                     984 non-null    float64
 23  Total BAF-Dial              984 non-null    int64
dtypes: float64(19), int64(4), object(1)
memory usage: 184.6+ KB

In [67]:
df_ready

,Anio,Trimestre,Provincia,0 a 512 Kbps,513 Kbps a 1 Mbps,1.1 a 6 Mbps,6.1 a 10 Mbps,10.1 a 20 Mbps,20.1 a 30 Mbps,Mayor a 30 Mbps,...,Cablemodem,Fibra optica,Wireless,Otros accesos tecnologicos,Total accesos tecnologicos,Accesos cada 100 hab,Accesos cada 100 hogares,Banda Ancha Fija,Dial up,Total BAF-Dial
0,2024,1,BUENOS AIRES,26002.0,22510.0,221185.0,233225.0,241778.0,106418.0,4068292.0,...,2790663.0,1799013.0,150290.0,101294.0,5044557.0,27.800000,81.100000,5038657,5900.0,5044557
1,2024,1,CAPITAL FEDERAL,516.0,5418.0,29753.0,51415.0,37369.0,5957.0,1374283.0,...,1177475.0,203756.0,4493.0,48879.0,1504711.0,48.780000,119.530000,1502661,2050.0,1504711
2,2024,1,CATAMARCA,71.0,176.0,2872.0,3424.0,4204.0,1822.0,62294.0,...,11025.0,56542.0,1384.0,81.0,74933.0,17.500000,68.820000,74932,1.0,74933
3,2024,1,CHACO,236.0,416.0,14156.0,9044.0,5533.0,5718.0,116624.0,...,58929.0,64463.0,8404.0,12404.0,155543.0,12.480000,46.700000,155538,5.0,155543
4,2024,1,CHUBUT,111.0,1083.0,43828.0,31885.0,23024.0,20261.0,33844.0,...,77217.0,26356.0,30867.0,9930.0,170676.0,26.020000,84.890000,169819,857.0,170676
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
979,2014,1,SANTA CRUZ,161.0,1625.0,24972.0,1.0,1.0,0.0,0.0,...,100.0,381.0,4092.0,3264.0,26764.0,8.677327,28.939093,26304,460.0,26764
980,2014,1,SANTA FE,8456.0,124468.0,345225.0,20328.0,6845.0,23.0,668.0,...,174296.0,3059.0,5951.0,644.0,506612.0,15.077801,47.847663,506000,612.0,506612
981,2014,1,SANTIAGO DEL ESTERO,1234.0,10531.0,22817.0,2422.0,109.0,0.0,0.0,...,3598.0,19.0,915.0,34.0,37133.0,4.058899,16.309924,37124,9.0,37133
982,2014,1,TIERRA DEL FUEGO,12.0,607.0,30902.0,6.0,0.0,0.0,0.0,...,2837.0,648.0,1.0,2934.0,28038.0,19.104921,63.965926,27272,766.0,28038
983,2014,1,TUCUMÁN,6.0,34672.0,83210.0,11779.0,362.0,3.0,0.0,...,83.0,121.0,13.0,98.0,130032.0,8.307215,33.420975,129944,88.0,130032

---
Guardar datos en la Base de Datos
---
---

In [68]:
# Datos para conectar a la DB
connection = pymysql.connect(
    host='bn83gilwrcfotqoazybx-mysql.services.clever-cloud.com',
    user='uc0tzjpbwmcv8ro5',
    password='LaNI5u2ZjXzafghQRntP',
    db='bn83gilwrcfotqoazybx'
)

# Dropea una tabla si esta existe [[[Dropea la tabla si existe]]]
# Crear un cursor
cursor = connection.cursor()
create_table_query = '''
DROP TABLE IF EXISTS `bn83gilwrcfotqoazybx`.`data_internet`
'''
 # Ejecutar la consulta
cursor.execute(create_table_query)
# Confirmar los cambios
connection.commit()


# Crear un cursor   [[Crea la tabla]]]
cursor = connection.cursor()
# Crear una tabla en la DB
create_table_query = '''
CREATE TABLE `bn83gilwrcfotqoazybx`.`data_internet` (
`anio` INT NOT NULL , 
`trimestre` INT NOT NULL ,
`provincia` VARCHAR(25),
`0 a 512 Kbps` INT NOT NULL,
`513 Kbps a 1 Mbps` INT NOT NULL,
`1.1 a 6 Mbps` INT NOT NULL,
`6.1 a 10 Mbps` INT NOT NULL,
`10.1 a 20 Mbps` INT NOT NULL,
`20.1 a 30 Mbps` INT NOT NULL, 
`mayor a 30 Mbps` INT NOT NULL, 
`otras_velocidades` INT NOT NULL,
`total_velocidades` INT NOT NULL,
`Mbps(Media de bajada)` DECIMAL(6,2),
`ADSL` INT NOT NULL, 
`cablemodem` INT NOT NULL,
`fibra_optica` INT NOT NULL,
`wireless` INT NOT NULL,
`otros_accesos` INT NOT NULL, 
`total_accesos` INT NOT NULL, 
`accesos_cada_100_hab` DECIMAL(6,2),
`accesos_cada_100_hogares` DECIMAL(6,2), 
`BAF` INT NOT NULL,
`Dial_up` INT NOT NULL,
`Total_BAF` INT NOT NULL) ENGINE = InnoDB;;
'''
 # Ejecutar la consulta
cursor.execute(create_table_query)
# Confirmar los cambios
connection.commit()



# Mandar los datos a la DB [[Cargar DATA]]
cursor = connection.cursor()
for i, row in df_ready.iterrows():
    sql = '''
    INSERT INTO `bn83gilwrcfotqoazybx`.`data_internet` (
    `anio` , 
    `trimestre` ,
    `provincia` ,
    `0 a 512 Kbps` ,
    `513 Kbps a 1 Mbps` ,
    `1.1 a 6 Mbps` ,
    `6.1 a 10 Mbps` ,
    `10.1 a 20 Mbps` ,
    `20.1 a 30 Mbps` , 
    `mayor a 30 Mbps` , 
    `otras_velocidades` ,
    `total_velocidades` ,
    `Mbps(Media de bajada)` ,
    `ADSL` , 
    `cablemodem` ,
    `fibra_optica` ,
    `wireless` ,
    `otros_accesos` , 
    `total_accesos` , 
    `accesos_cada_100_hab` ,
    `accesos_cada_100_hogares` , 
    `BAF` ,
    `Dial_up` ,
    `Total_BAF`) VALUES 
    (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    '''
    cursor.execute(sql, (row['Anio'], row['Trimestre'], row['Provincia'], row['0 a 512 Kbps'], row['513 Kbps a 1 Mbps'], row['1.1 a 6 Mbps'],
                        row['6.1 a 10 Mbps'], row['10.1 a 20 Mbps'], row['20.1 a 30 Mbps'], row['Mayor a 30 Mbps'] , row['Otras Velocidades'],
                        row['Total Velocidades'], row['Mbps (Media de bajada)'], row['ADSL'], row['Cablemodem'], row['Fibra optica'], row['Wireless'], row['Otros accesos tecnologicos'],
                        row['Total accesos tecnologicos'], row['Accesos cada 100 hab'], row['Accesos cada 100 hogares'], row['Banda Ancha Fija'], 
                        row['Dial up'], row['Total BAF-Dial']))

connection.commit()

# Cerrar la conexión
connection.close()

In [69]:
df_ready.columns

Index(['Anio', 'Trimestre', 'Provincia', '0 a 512 Kbps', '513 Kbps a 1 Mbps',
       '1.1 a 6 Mbps', '6.1 a 10 Mbps', '10.1 a 20 Mbps', '20.1 a 30 Mbps',
       'Mayor a 30 Mbps', 'Otras Velocidades', 'Total Velocidades',
       'Mbps (Media de bajada)', 'ADSL', 'Cablemodem', 'Fibra optica',
       'Wireless', 'Otros accesos tecnologicos', 'Total accesos tecnologicos',
       'Accesos cada 100 hab', 'Accesos cada 100 hogares', 'Banda Ancha Fija',
       'Dial up', 'Total BAF-Dial'],
      dtype='object')

In [70]:
df_ready

,Anio,Trimestre,Provincia,0 a 512 Kbps,513 Kbps a 1 Mbps,1.1 a 6 Mbps,6.1 a 10 Mbps,10.1 a 20 Mbps,20.1 a 30 Mbps,Mayor a 30 Mbps,...,Cablemodem,Fibra optica,Wireless,Otros accesos tecnologicos,Total accesos tecnologicos,Accesos cada 100 hab,Accesos cada 100 hogares,Banda Ancha Fija,Dial up,Total BAF-Dial
0,2024,1,BUENOS AIRES,26002.0,22510.0,221185.0,233225.0,241778.0,106418.0,4068292.0,...,2790663.0,1799013.0,150290.0,101294.0,5044557.0,27.800000,81.100000,5038657,5900.0,5044557
1,2024,1,CAPITAL FEDERAL,516.0,5418.0,29753.0,51415.0,37369.0,5957.0,1374283.0,...,1177475.0,203756.0,4493.0,48879.0,1504711.0,48.780000,119.530000,1502661,2050.0,1504711
2,2024,1,CATAMARCA,71.0,176.0,2872.0,3424.0,4204.0,1822.0,62294.0,...,11025.0,56542.0,1384.0,81.0,74933.0,17.500000,68.820000,74932,1.0,74933
3,2024,1,CHACO,236.0,416.0,14156.0,9044.0,5533.0,5718.0,116624.0,...,58929.0,64463.0,8404.0,12404.0,155543.0,12.480000,46.700000,155538,5.0,155543
4,2024,1,CHUBUT,111.0,1083.0,43828.0,31885.0,23024.0,20261.0,33844.0,...,77217.0,26356.0,30867.0,9930.0,170676.0,26.020000,84.890000,169819,857.0,170676
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
979,2014,1,SANTA CRUZ,161.0,1625.0,24972.0,1.0,1.0,0.0,0.0,...,100.0,381.0,4092.0,3264.0,26764.0,8.677327,28.939093,26304,460.0,26764
980,2014,1,SANTA FE,8456.0,124468.0,345225.0,20328.0,6845.0,23.0,668.0,...,174296.0,3059.0,5951.0,644.0,506612.0,15.077801,47.847663,506000,612.0,506612
981,2014,1,SANTIAGO DEL ESTERO,1234.0,10531.0,22817.0,2422.0,109.0,0.0,0.0,...,3598.0,19.0,915.0,34.0,37133.0,4.058899,16.309924,37124,9.0,37133
982,2014,1,TIERRA DEL FUEGO,12.0,607.0,30902.0,6.0,0.0,0.0,0.0,...,2837.0,648.0,1.0,2934.0,28038.0,19.104921,63.965926,27272,766.0,28038
983,2014,1,TUCUMÁN,6.0,34672.0,83210.0,11779.0,362.0,3.0,0.0,...,83.0,121.0,13.0,98.0,130032.0,8.307215,33.420975,129944,88.0,130032

---

---
Totales de Internet
---
Del mismo modo que las tablas anteriores se unieron para formar una sola DB, se realiza el mismo procedimiento con las tablas que contienen totales:
1. Totales Accesos por Velocidad
2. Totales VMD
3. Totales Accesos por Tecnología
4. Penetración totales
5. Totales BAF-Dial
6. Total Ingresos
7. Telefonía móvil (opcional)
---

In [71]:
df_Tot_Acc_x_Vel.head()

,Año,Trimestre,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,Total
0,2024,1,28801,69355,866152,950930,672155,353896,8363694,328173,11633156
1,2023,4,29708,71742,900253,978108,697232,350290,8224736,295592,11547661
2,2023,3,30274,80609,945608,998725,720084,350918,8003269,277421,11406908
3,2023,2,30827,79405,963510,1028250,734125,364730,7775095,275955,11251897
4,2023,1,31437,82048,1001553,1060321,729194,357769,7564819,414754,11241895

In [72]:
#Puesto que en los otros dataframes existen columnas con el mismo nombre 'Total' se específica a que pertenece:
df_Tot_Acc_x_Vel = df_Tot_Acc_x_Vel.rename(columns={'Total': 'Total velocidad'})

In [73]:
df_Tot_Acc_x_Vel.info() # No se observan datos Nulos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Año                      41 non-null     int64
 1   Trimestre                41 non-null     int64
 2   Hasta 512 kbps           41 non-null     int64
 3   Entre 512 Kbps y 1 Mbps  41 non-null     int64
 4   Entre 1 Mbps y 6 Mbps    41 non-null     int64
 5   Entre 6 Mbps y 10 Mbps   41 non-null     int64
 6   Entre 10 Mbps y 20 Mbps  41 non-null     int64
 7   Entre 20 Mbps y 30 Mbps  41 non-null     int64
 8   Más de 30 Mbps           41 non-null     int64
 9   OTROS                    41 non-null     int64
 10  Total velocidad          41 non-null     int64
dtypes: int64(11)
memory usage: 3.7 KB

---
Totales VMD - (velocidad media de bajada)
---

---

In [74]:
df_Tot_VMD.head()

    Año  Trimestre  Mbps (Media de bajada)    Trimestre.1
0  2024          1                  139.15   Ene-Mar 2024
1  2023          4                  139.04   Oct-Dic 2023
2  2023          3                  129.67  Jul-Sept 2023
3  2023          2                  123.95   Abr-Jun 2023
4  2023          1                  110.50   Ene-Mar 2023

In [75]:
df_Tot_VMD.info()#No hay presencia de Nulos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     41 non-null     int64
 1   Trimestre               41 non-null     int64
 2   Mbps (Media de bajada)  41 non-null     float64
 3   Trimestre.1             41 non-null     object
dtypes: float64(1), int64(2), object(1)
memory usage: 1.4+ KB

---
Totales Accesos por Tecnología
---

---

In [76]:
df_TotAccTecn.head()

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total,Periodo
0,2024,1,774475,5986957,4015101,598682,257941,11633156,Ene-Mar 2024
1,2023,4,836390,6022532,3908183,585760,194796,11547661,Oct-Dic 2023
2,2023,3,897895,6018832,3708718,581436,200027,11406908,Jul-Sept 2023
3,2023,2,1006509,5997149,3463988,581823,202428,11251897,Abr-Jun 2023
4,2023,1,1204417,6002582,3243411,576647,214838,11241895,Ene-Mar 2023

In [77]:
#Puesto que en los otros dataframes existen columnas con el mismo nombre 'Total' y 'Otros' se específica a que pertenece:
df_TotAccTecn = df_TotAccTecn.rename(columns={'Total': 'Total accesos tecnologia'})
df_TotAccTecn = df_TotAccTecn.rename(columns={'Otros': 'Otros accesos tecnologia'})

In [78]:
df_TotAccTecn.info() #No tiene presencia de nulos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Año                       41 non-null     int64
 1   Trimestre                 41 non-null     int64
 2   ADSL                      41 non-null     int64
 3   Cablemodem                41 non-null     int64
 4   Fibra óptica              41 non-null     int64
 5   Wireless                  41 non-null     int64
 6   Otros accesos tecnologia  41 non-null     int64
 7   Total accesos tecnologia  41 non-null     int64
 8   Periodo                   41 non-null     object
dtypes: int64(8), object(1)
memory usage: 3.0+ KB

---
Totales Penetración por habitantes y hogares
---

---

In [79]:
df_Pen_Tot.head()

,Año,Trimestre,Accesos por cada 100 hogares,Accesos por cada 100 hab,Periodo
0,2024,1,78.89,24.79,Ene-Mar 2024
1,2023,4,78.56,24.66,Oct-Dic 2023
2,2023,3,77.84,24.41,Jul-Sept 2023
3,2023,2,77.02,24.14,Abr-Jun 2023
4,2023,1,77.20,24.17,Ene-Mar 2023

In [80]:
df_Pen_Tot.info() #No hay presencia de nulos, vacios o NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           41 non-null     int64
 1   Trimestre                     41 non-null     int64
 2   Accesos por cada 100 hogares  41 non-null     float64
 3   Accesos por cada 100 hab      41 non-null     float64
 4   Periodo                       41 non-null     object
dtypes: float64(2), int64(2), object(1)
memory usage: 1.7+ KB

---
Totales BAF-Dial (Banda Ancha Fija - Dial)
---

---

In [81]:
df_Tot_Dial_BAf.head()

    Año  Trimestre  Banda ancha fija  Dial up     Total        Periodo
0  2024          1          11621363    11793  11633156   Ene-Mar 2024
1  2023          4          11535868    11793  11547661   Oct-Dic 2023
2  2023          3          11395115    11793  11406908  Jul-Sept 2023
3  2023          2          11239781    12116  11251897   Abr-Jun 2023
4  2023          1          11229459    12436  11241895   Ene-Mar 2023

In [82]:
# Cambiar el nombre a la columna Total
df_Tot_Dial_BAf = df_Tot_Dial_BAf.rename(columns={'Total': 'Total BAF-Dial'})

In [83]:
df_Tot_Dial_BAf.info() #no existe presencia de Nulos, vacios o NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               41 non-null     int64
 1   Trimestre         41 non-null     int64
 2   Banda ancha fija  41 non-null     int64
 3   Dial up           41 non-null     int64
 4   Total BAF-Dial    41 non-null     int64
 5   Periodo           41 non-null     object
dtypes: int64(5), object(1)
memory usage: 2.1+ KB

---
Totales Ingresos
---

---

In [84]:
df_Ingresos.head()

    Año  Trimestre  Ingresos (miles de pesos)        Periodo
0  2024          1               2.804191e+08   Ene-Mar 2024
1  2023          4               1.673760e+08   Oct-Dic 2023
2  2023          3               1.331066e+08  Jul-Sept 2023
3  2023          2               1.180603e+08   Jun-Mar 2023
4  2033          1               1.041350e+08   Ene-Mar 2023

In [85]:
#Puesto que en los otros dataframes existen columnas con el mismo nombre 'Ingresos' se específica a que pertenece:
df_Ingresos = df_Ingresos.rename(columns={'Ingresos (miles de pesos)': 'Ingresos totales (miles de $)'})

In [86]:
df_Ingresos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 4 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Año                            41 non-null     int64
 1   Trimestre                      41 non-null     int64
 2   Ingresos totales (miles de $)  41 non-null     float64
 3   Periodo                        41 non-null     object
dtypes: float64(1), int64(2), object(1)
memory usage: 1.4+ KB

In [87]:
df_Ingresos.shape

(41, 4)

---
Telefonía movil
---

En telefonía móvil hay dos tablas importantes:
1. Accesos, dividido en accesos pospago y prepago
2. Ingresos, cantidad monetaría que han dejado de ganancia los dispositivos moviles
---

---
Ingresos totales por dispositivos moviles
---

---

In [88]:
df_ing_tel_movil.head() #Los datos se encuentran ordenados de forma inversa de como estan los demas datasets

    Año  Trimestre  Ingresos (miles de $)        Periodo
0  2013          1               13135235   Ene-Mar 2013
1  2013          2               13970806   Abr-Jun 2013
2  2013          3               15235659  Jul-Sept 2013
3  2013          4               16218846   Oct-Dic 2013
4  2014          1               15938353   Ene-Mar 2013

In [89]:
df_ing_tel_movil = df_ing_tel_movil.sort_values(by=['Año','Trimestre'], ascending=False) #Ordena los valores por año y trimestre
df_ing_tel_movil.head(6)

     Año  Trimestre  Ingresos (miles de $)        Periodo
44  2024          1              769485386   Ene-Mar 2024
43  2023          4              515335742   Oct-Dic 2023
42  2023          3              380119973  Jul-Sept 2023
41  2023          2              307337085   Abr-Jun 2023
40  2023          1              257558366   Ene-Mar 2023
39  2022          4              216233244   Oct-Dic 2022

De igual forma e observa que hay más filas puesto que en este dataframe se encuentra el año 2013 y en los anteriores no. Se pueden tomar dos decisiones:
1. Eliminar las filas que contienen datos extras (todas las del año 2013)
2. Unir Dataframes por periodos, (quedaran datos nulos o vacios)

Elección: Se opta por eliminar las filas del 2013

In [90]:
df_ing_tel_movil.drop(df_ing_tel_movil[(df_ing_tel_movil['Año'] == 2013)].index, inplace=True) # Elimina las filas con valor año = 2013

In [91]:
df_ing_tel_movil.shape # Ya tienen la misma cantidad de columnas y el mismo orden

(41, 4)

In [92]:
#Puesto que en los otros dataframes existen columnas con el mismo nombre 'Ingresos' se específica a que pertenece:
df_ing_tel_movil = df_ing_tel_movil.rename(columns={'Ingresos (miles de $)': 'Ingresos disp moviles (miles de $)'})

In [93]:
df_ing_tel_movil.info()

<class 'pandas.core.frame.DataFrame'>
Index: 41 entries, 44 to 4
Data columns (total 4 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Año                                 41 non-null     int64
 1   Trimestre                           41 non-null     int64
 2   Ingresos disp moviles (miles de $)  41 non-null     int64
 3   Periodo                             41 non-null     object
dtypes: int64(3), object(1)
memory usage: 1.6+ KB

In [94]:
# seleccionar sólo la columna a utilizar
df_ing_tel_movil = df_ing_tel_movil[['Ingresos disp moviles (miles de $)']]

---
Accesos totales por dispositivos moviles
---

---

In [95]:
df_acce_tel_movil.head()

,Año,Trimestre,Total de accesos pospago,Total de accesos prepago,Total de accesos operativos,Periodo
0,2013,1,7761349.0,57147608.0,64908957,Ene-Mar 2013
1,2013,2,7769110.0,58004822.0,65773932,Abr-Jun 2013
2,2013,3,8002183.0,59048909.0,67051092,Jul-Sept 2013
3,2013,4,8674516.0,58894516.0,67569032,Oct-Dic 2013
4,2014,1,8224482.0,54725089.0,62949571,Ene-Mar 2013

In [96]:
df_acce_tel_movil = df_acce_tel_movil.sort_values(by=['Año','Trimestre'], ascending=False) # Se ordenan las filas por año y trimestre
df_acce_tel_movil.head(6)

,Año,Trimestre,Total de accesos pospago,Total de accesos prepago,Total de accesos operativos,Periodo
44,2024,1,8398514.0,54455565.0,62854079,Ene-Mar 2024
43,2023,4,8301200.0,54407950.0,62709150,Oct-Dic 2023
42,2023,3,7903181.0,53281127.0,61184308,Jul-Sept 2023
41,2023,2,7310125.0,53572899.0,60883024,Abr-Jun 2023
40,2023,1,7028083.0,53269840.0,60297923,Ene-Mar 2023
39,2022,4,6546406.0,53157521.0,59703927,Oct-Dic 2022

In [97]:
df_acce_tel_movil.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45 entries, 44 to 0
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Año                          45 non-null     int64
 1   Trimestre                    45 non-null     int64
 2   Total de accesos pospago     45 non-null     float64
 3   Total de accesos prepago     45 non-null     float64
 4   Total de accesos operativos  45 non-null     int64
 5   Periodo                      45 non-null     object
dtypes: float64(2), int64(3), object(1)
memory usage: 2.5+ KB

Mismo caso que el dataFrame anterior, se realiza el mismo procedimiento: Eliminar aquellas filas del 2013

In [98]:
df_acce_tel_movil.drop(df_acce_tel_movil[(df_acce_tel_movil['Año'] == 2013)].index, inplace=True) # Elimina las filas con valor año = 2013
df_acce_tel_movil.head(6)

,Año,Trimestre,Total de accesos pospago,Total de accesos prepago,Total de accesos operativos,Periodo
44,2024,1,8398514.0,54455565.0,62854079,Ene-Mar 2024
43,2023,4,8301200.0,54407950.0,62709150,Oct-Dic 2023
42,2023,3,7903181.0,53281127.0,61184308,Jul-Sept 2023
41,2023,2,7310125.0,53572899.0,60883024,Abr-Jun 2023
40,2023,1,7028083.0,53269840.0,60297923,Ene-Mar 2023
39,2022,4,6546406.0,53157521.0,59703927,Oct-Dic 2022

In [99]:
df_acce_tel_movil.shape

(41, 6)

In [100]:
# seleccionar sólo la columna a utilizar
df_acce_tel_movil = df_acce_tel_movil[['Total de accesos pospago', 'Total de accesos prepago', 'Total de accesos operativos']]

In [101]:
df_acce_tel_movil.info()

<class 'pandas.core.frame.DataFrame'>
Index: 41 entries, 44 to 4
Data columns (total 3 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Total de accesos pospago     41 non-null     float64
 1   Total de accesos prepago     41 non-null     float64
 2   Total de accesos operativos  41 non-null     int64
dtypes: float64(2), int64(1)
memory usage: 1.3 KB

---
Penetración, (acceso por cada 100 hab) dispositivos móviles
---
---

In [102]:
df_acce_tel_movil_hab.head()

    Año  Trimestre  Accesos por cada 100 hab        Periodo
0  2013          1                    154.37   Ene-Mar 2013
1  2013          2                    156.00   Abr-Jun 2013
2  2013          3                    158.59  Jul-Sept 2013
3  2013          4                    159.37   Oct-Dic 2013
4  2014          1                    148.07   Ene-Mar 2014

In [103]:
df_acce_tel_movil_hab = df_acce_tel_movil_hab.sort_values(by=['Año','Trimestre'], ascending=False) # Se ordenan las filas por año y trimestre
df_acce_tel_movil_hab.head(6)

     Año  Trimestre  Accesos por cada 100 hab        Periodo
44  2024          1                133.931678   Ene-Mar 2024
43  2023          4                133.917534   Oct-Dic 2023
42  2023          3                130.949964  Jul-Sept 2023
41  2023          2                130.595340   Abr-Jun 2023
40  2023          1                129.632078   Ene-Mar 2023
39  2022          4                128.650000   Oct-Dic 2022

In [104]:
df_acce_tel_movil_hab.shape

(45, 4)

In [105]:
df_acce_tel_movil_hab.drop(df_acce_tel_movil_hab[(df_acce_tel_movil_hab['Año'] == 2013)].index, inplace=True) # Elimina las filas con valor año = 2013
df_acce_tel_movil_hab.head(6)

     Año  Trimestre  Accesos por cada 100 hab        Periodo
44  2024          1                133.931678   Ene-Mar 2024
43  2023          4                133.917534   Oct-Dic 2023
42  2023          3                130.949964  Jul-Sept 2023
41  2023          2                130.595340   Abr-Jun 2023
40  2023          1                129.632078   Ene-Mar 2023
39  2022          4                128.650000   Oct-Dic 2022

In [106]:
df_acce_tel_movil_hab.shape

(41, 4)

In [107]:
# seleccionar sólo la columna a utilizar
df_acce_tel_movil_hab = df_acce_tel_movil_hab[['Accesos por cada 100 hab']]

In [108]:
df_acce_tel_movil_hab

    Accesos por cada 100 hab
44                133.931678
43                133.917534
42                130.949964
41                130.595340
40                129.632078
39                128.650000
38                127.980000
37                127.950000
36                128.370000
35                128.440000
34                126.010000
33                124.260000
32                123.620000
31                120.210000
30                120.180000
29                121.710000
28                123.810000
27                124.890000
26                128.680000
25                128.910000
24                131.170000
23                131.150000
22                132.020000
21                133.760000
20                136.590000
19                139.940000
18                141.050000
17                142.810000
16                143.590000
15                145.550000
14                145.600000
13                142.640000
12                141.550000
11                142.750000
10                140.560000
9                 138.940000
8                 140.120000
7                 142.600000
6                 143.440000
5                 143.000000
4                 148.070000

---
Uniendo los DataFrames de dispositivos móviles
--
---

In [109]:
# Se unen los dos dataframes
df_disp_mov = pd.concat([df_acce_tel_movil, df_ing_tel_movil, df_acce_tel_movil_hab], axis=1)

In [110]:
df_disp_mov.reset_index()

,index,Total de accesos pospago,Total de accesos prepago,Total de accesos operativos,Ingresos disp moviles (miles de $),Accesos por cada 100 hab
0,44,8.398514e+06,5.445556e+07,62854079,769485386,133.931678
1,43,8.301200e+06,5.440795e+07,62709150,515335742,133.917534
2,42,7.903181e+06,5.328113e+07,61184308,380119973,130.949964
3,41,7.310125e+06,5.357290e+07,60883024,307337085,130.595340
4,40,7.028083e+06,5.326984e+07,60297923,257558366,129.632078
5,39,6.546406e+06,5.315752e+07,59703927,216233244,128.650000
6,38,6.250732e+06,5.300814e+07,59258871,180356862,127.980000
7,37,6.245815e+06,5.286538e+07,59111192,153032313,127.950000
8,36,6.231309e+06,5.293760e+07,59168910,130454676,128.370000
9,35,6.186994e+06,5.287883e+07,59065827,127389786,128.440000
10,34,6.104479e+06,5.170803e+07,57812509,117751925,126.010000
11,33,6.046091e+06,5.082947e+07,56875562,104782020,124.260000
12,32,6.041047e+06,5.041199e+07,56453033,93112153,123.620000
13,31,5.556299e+06,4.920760e+07,54763900,83479114,120.210000
14,30,5.559724e+06,4.906016e+07,54619886,79634755,120.180000
15,29,5.659667e+06,4.939106e+07,55050723,73538944,121.710000
16,28,5.743132e+06,4.986905e+07,55612810,72077147,123.810000
17,27,5.797378e+06,5.013354e+07,55930914,65388842,124.890000
18,26,5.974898e+06,5.030083e+07,56275726,60905891,128.680000
19,25,5.924037e+06,5.167205e+07,57596091,55338816,128.910000
20,24,6.645995e+06,5.196045e+07,58606442,50246691,131.170000
21,23,6.488017e+06,5.211002e+07,58598041,44026803,131.150000
22,22,6.551391e+06,5.228974e+07,58841136,43280089,132.020000
23,21,6.637444e+06,5.282895e+07,59466393,40653502,133.760000
24,20,7.101698e+06,5.347010e+07,60571796,38733946,136.590000
25,19,7.108228e+06,5.478915e+07,61897379,38110028,139.940000
26,18,7.272585e+06,5.495822e+07,62230809,35711689,141.050000
27,17,7.415230e+06,5.548353e+07,62898758,33509264,142.810000
28,16,7.502772e+06,5.552335e+07,63026122,31205565,143.590000
29,15,7.637635e+06,5.608217e+07,63719805,30143233,145.550000
30,14,7.520789e+06,5.605855e+07,63579339,27416177,145.600000
31,13,7.565115e+06,5.455741e+07,62122521,25353971,142.640000
32,12,7.483126e+06,5.400364e+07,61486761,24763052,141.550000
33,11,7.594526e+06,5.424748e+07,61842011,24881967,142.750000
34,10,7.600799e+06,5.313171e+07,60732511,21785238,140.560000
35,9,7.633527e+06,5.224194e+07,59875466,19945453,138.940000
36,8,7.747230e+06,5.247463e+07,60221863,19337342,140.120000
37,7,8.027505e+06,5.309333e+07,61120835,20012332,142.600000
38,6,8.214424e+06,5.310204e+07,61316467,18976053,143.440000
39,5,7.953775e+06,5.300986e+07,60963640,17680972,143.000000
40,4,8.224482e+06,5.472509e+07,62949571,15938353,148.070000

In [111]:
df_disp_mov.head(5)

,Total de accesos pospago,Total de accesos prepago,Total de accesos operativos,Ingresos disp moviles (miles de $),Accesos por cada 100 hab
44,8398514.0,54455565.0,62854079,769485386,133.931678
43,8301200.0,54407950.0,62709150,515335742,133.917534
42,7903181.0,53281127.0,61184308,380119973,130.949964
41,7310125.0,53572899.0,60883024,307337085,130.595340
40,7028083.0,53269840.0,60297923,257558366,129.632078

In [112]:
df_disp_mov.shape

(41, 5)

In [113]:
df_disp_mov.reset_index(inplace=True)

In [114]:
df_disp_mov = df_disp_mov.drop(columns='index')

In [115]:
# Renombrar la columna 'Edad' a 'Años'
df_disp_mov = df_disp_mov.rename(columns={'Accesos por cada 100 hab': 'Accesos disp_movil cada 100 hab'})

In [116]:
df_disp_mov

,Total de accesos pospago,Total de accesos prepago,Total de accesos operativos,Ingresos disp moviles (miles de $),Accesos disp_movil cada 100 hab
0,8.398514e+06,5.445556e+07,62854079,769485386,133.931678
1,8.301200e+06,5.440795e+07,62709150,515335742,133.917534
2,7.903181e+06,5.328113e+07,61184308,380119973,130.949964
3,7.310125e+06,5.357290e+07,60883024,307337085,130.595340
4,7.028083e+06,5.326984e+07,60297923,257558366,129.632078
5,6.546406e+06,5.315752e+07,59703927,216233244,128.650000
6,6.250732e+06,5.300814e+07,59258871,180356862,127.980000
7,6.245815e+06,5.286538e+07,59111192,153032313,127.950000
8,6.231309e+06,5.293760e+07,59168910,130454676,128.370000
9,6.186994e+06,5.287883e+07,59065827,127389786,128.440000
10,6.104479e+06,5.170803e+07,57812509,117751925,126.010000
11,6.046091e+06,5.082947e+07,56875562,104782020,124.260000
12,6.041047e+06,5.041199e+07,56453033,93112153,123.620000
13,5.556299e+06,4.920760e+07,54763900,83479114,120.210000
14,5.559724e+06,4.906016e+07,54619886,79634755,120.180000
15,5.659667e+06,4.939106e+07,55050723,73538944,121.710000
16,5.743132e+06,4.986905e+07,55612810,72077147,123.810000
17,5.797378e+06,5.013354e+07,55930914,65388842,124.890000
18,5.974898e+06,5.030083e+07,56275726,60905891,128.680000
19,5.924037e+06,5.167205e+07,57596091,55338816,128.910000
20,6.645995e+06,5.196045e+07,58606442,50246691,131.170000
21,6.488017e+06,5.211002e+07,58598041,44026803,131.150000
22,6.551391e+06,5.228974e+07,58841136,43280089,132.020000
23,6.637444e+06,5.282895e+07,59466393,40653502,133.760000
24,7.101698e+06,5.347010e+07,60571796,38733946,136.590000
25,7.108228e+06,5.478915e+07,61897379,38110028,139.940000
26,7.272585e+06,5.495822e+07,62230809,35711689,141.050000
27,7.415230e+06,5.548353e+07,62898758,33509264,142.810000
28,7.502772e+06,5.552335e+07,63026122,31205565,143.590000
29,7.637635e+06,5.608217e+07,63719805,30143233,145.550000
30,7.520789e+06,5.605855e+07,63579339,27416177,145.600000
31,7.565115e+06,5.455741e+07,62122521,25353971,142.640000
32,7.483126e+06,5.400364e+07,61486761,24763052,141.550000
33,7.594526e+06,5.424748e+07,61842011,24881967,142.750000
34,7.600799e+06,5.313171e+07,60732511,21785238,140.560000
35,7.633527e+06,5.224194e+07,59875466,19945453,138.940000
36,7.747230e+06,5.247463e+07,60221863,19337342,140.120000
37,8.027505e+06,5.309333e+07,61120835,20012332,142.600000
38,8.214424e+06,5.310204e+07,61316467,18976053,143.440000
39,7.953775e+06,5.300986e+07,60963640,17680972,143.000000
40,8.224482e+06,5.472509e+07,62949571,15938353,148.070000

---
Uniendo los dataframes Totales con dispositivos moviles
---
---

Se unen los siguientes Dataframes:
1. Total accesos por velocidad (todas las columnas)
2. Total de VDM [(Mbps) Media de bajada]
3. Total de accesos por tecnologia (columnas: ADSL, Cablemodem, Fibra óptica, Wireless, Otros accesos tecnologia, Total accesos tecnologia)
4. Penetración totales (columnas: Accesos por cada 100 hogares, Accesos por cada 100 hab)
5. Totales BAF, Dial (columnas: Banda ancha fija, Dial up, Total BAF-Dial)
6. Ingresos: [Ingresos totales (miles de $)]
7. Dispositivos moviles (columnas: todas 4)

In [117]:
print(list(df_Tot_Acc_x_Vel.columns))
print(list(df_Tot_VMD.columns))
print(list(df_TotAccTecn.columns))
print(list(df_Pen_Tot.columns))
print(list(df_Tot_Dial_BAf.columns))
print(list(df_Ingresos.columns))
print(list(df_disp_mov.columns))

['Año', 'Trimestre', 'Hasta 512 kbps', 'Entre 512 Kbps y 1 Mbps', 'Entre 1 Mbps y 6 Mbps', 'Entre 6 Mbps y 10 Mbps', 'Entre 10 Mbps y 20 Mbps', 'Entre 20 Mbps y 30 Mbps', 'Más de 30 Mbps', 'OTROS', 'Total velocidad']
['Año', 'Trimestre', 'Mbps (Media de bajada)', 'Trimestre.1']
['Año', 'Trimestre', 'ADSL', 'Cablemodem', 'Fibra óptica', 'Wireless', 'Otros accesos tecnologia', 'Total accesos tecnologia', 'Periodo']
['Año', 'Trimestre', 'Accesos por cada 100 hogares', 'Accesos por cada 100 hab', 'Periodo']
['Año', 'Trimestre', 'Banda ancha fija', 'Dial up', 'Total BAF-Dial', 'Periodo']
['Año', 'Trimestre', 'Ingresos totales (miles de $)', 'Periodo']
['Total de accesos pospago', 'Total de accesos prepago', 'Total de accesos operativos', 'Ingresos disp moviles (miles de $)', 'Accesos disp_movil cada 100 hab']

In [118]:
# Seleccionamos los dataFrames a unir
dft1 = df_Tot_Acc_x_Vel
dft2 = df_Tot_VMD[['Mbps (Media de bajada)']]
dft3 = df_TotAccTecn[['ADSL', 'Cablemodem', 'Fibra óptica', 'Wireless', 'Otros accesos tecnologia', 'Total accesos tecnologia']]
dft4 = df_Pen_Tot[['Accesos por cada 100 hab', 'Accesos por cada 100 hogares']]
dft5 = df_Tot_Dial_BAf[['Banda ancha fija', 'Dial up', 'Total BAF-Dial']]
dft6 = df_Ingresos[['Ingresos totales (miles de $)']]
dft7 = df_disp_mov

In [119]:
# Se unen los Dataframes
df_ready_totales = pd.concat([dft1, dft2, dft3, dft4, dft5, dft6, dft7], axis=1)

In [120]:
df_ready_totales

,Año,Trimestre,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,...,Accesos por cada 100 hogares,Banda ancha fija,Dial up,Total BAF-Dial,Ingresos totales (miles de $),Total de accesos pospago,Total de accesos prepago,Total de accesos operativos,Ingresos disp moviles (miles de $),Accesos disp_movil cada 100 hab
0,2024,1,28801,69355,866152,950930,672155,353896,8363694,328173,...,78.890000,11621363,11793,11633156,2.804191e+08,8.398514e+06,5.445556e+07,62854079,769485386,133.931678
1,2023,4,29708,71742,900253,978108,697232,350290,8224736,295592,...,78.560000,11535868,11793,11547661,1.673760e+08,8.301200e+06,5.440795e+07,62709150,515335742,133.917534
2,2023,3,30274,80609,945608,998725,720084,350918,8003269,277421,...,77.840000,11395115,11793,11406908,1.331066e+08,7.903181e+06,5.328113e+07,61184308,380119973,130.949964
3,2023,2,30827,79405,963510,1028250,734125,364730,7775095,275955,...,77.020000,11239781,12116,11251897,1.180603e+08,7.310125e+06,5.357290e+07,60883024,307337085,130.595340
4,2023,1,31437,82048,1001553,1060321,729194,357769,7564819,414754,...,77.200000,11229459,12436,11241895,1.041350e+08,7.028083e+06,5.326984e+07,60297923,257558366,129.632078
5,2022,4,31981,85668,1075272,1109421,765015,335573,7410902,394282,...,77.210000,11195668,12446,11208114,7.244348e+07,6.546406e+06,5.315752e+07,59703927,216233244,128.650000
6,2022,3,33013,96727,1161370,1151906,823505,479822,6995750,349035,...,76.640000,11078691,12437,11091128,6.408678e+07,6.250732e+06,5.300814e+07,59258871,180356862,127.980000
7,2022,2,33667,99498,1193090,1197030,856562,485321,6741922,351594,...,75.965424,10946248,12436,10958684,6.041950e+07,6.245815e+06,5.286538e+07,59111192,153032313,127.950000
8,2022,1,34890,104840,1263273,1209148,967508,509830,6336187,198333,...,73.878803,10611390,12619,10624009,5.521931e+07,6.231309e+06,5.293760e+07,59168910,130454676,128.370000
9,2021,4,41262,28521,1413208,1245333,976539,558358,6032322,194251,...,73.176397,10476933,12861,10489794,4.546789e+07,6.186994e+06,5.287883e+07,59065827,127389786,128.440000
10,2021,3,40174,41437,2550229,1095772,710122,536364,4948174,163269,...,70.578853,10075184,10357,10085541,4.299994e+07,6.104479e+06,5.170803e+07,57812509,117751925,126.010000
11,2021,2,40172,42024,2531271,1080279,693277,647401,4661291,167369,...,69.240183,9852702,10382,9863084,3.823967e+07,6.046091e+06,5.082947e+07,56875562,104782020,124.260000
12,2021,1,39487,41674,2593477,1072722,737930,595920,4379965,186797,...,67.945876,9637956,10016,9647972,3.667637e+07,6.041047e+06,5.041199e+07,56453033,93112153,123.620000
13,2020,4,39510,42185,2622638,1073875,786595,582420,4239237,185102,...,67.622339,9561546,10016,9571562,3.353970e+07,5.556299e+06,4.920760e+07,54763900,83479114,120.210000
14,2020,3,41038,44005,2637984,1040017,799350,538567,4053461,201777,...,66.310000,9346183,10016,9356199,3.199744e+07,5.559724e+06,4.906016e+07,54619886,79634755,120.180000
15,2020,2,41038,48690,2651502,1053107,807775,523437,3711499,194008,...,64.210003,9021040,10016,9031056,3.210248e+07,5.659667e+06,4.939106e+07,55050723,73538944,121.710000
16,2020,1,42550,56170,2649819,1022014,814470,532309,3500882,194212,...,62.856361,8802435,9991,8812426,2.994622e+07,5.743132e+06,4.986905e+07,55612810,72077147,123.810000
17,2019,4,38272,28980,2792307,1046128,851619,1004083,2830746,201046,...,62.919912,8783053,10128,8793181,2.416925e+07,5.797378e+06,5.013354e+07,55930914,65388842,124.890000
18,2019,3,241713,80599,3309137,1026859,806466,1141545,2314898,243467,...,65.787985,9142891,21793,9164684,2.165275e+07,5.974898e+06,5.030083e+07,56275726,60905891,128.680000
19,2019,2,202790,95980,3444458,871142,1169632,1250366,1677830,247983,...,64.530000,8938427,21754,8960181,2.074312e+07,5.924037e+06,5.167205e+07,57596091,55338816,128.910000
20,2019,1,166573,195706,3428759,882836,1464748,1244215,1138728,126570,...,62.479166,8626323,21812,8648135,2.020741e+07,6.645995e+06,5.196045e+07,58606442,50246691,131.170000
21,2018,4,138740,201196,3337982,882388,1472634,1688748,599579,152388,...,61.415807,8451841,21814,8473655,1.663769e+07,6.488017e+06,5.211002e+07,58598041,44026803,131.150000
22,2018,3,5675,220589,3401277,859413,1607137,1571692,524777,156475,...,60.690000,8320223,26812,8347035,1.541098e+07,6.551391e+06,5.228974e+07,58841136,43280089,132.020000
23,2018,2,5972,219467,3316868,979416,1905839,1000036,444391,238455,...,59.162069,8083533,26911,8110444,1.431947e+07,6.637444e+06,5.282895e+07,59466393,40653502,133.760000
24,2018,1,7309,215406,3272724,976956,2068087,862010,397977,236584,...,58.820000,8009981,27072,8037053,1.317146e+07,7.101698e+06,5.347010e+07,60571796,38733946,136.590000
25,2017,4,15041,221474,3773159,1005545,1730353,631946,337559,155145,...,57.782351,7842778,27444,7870222,1.122613e+07,7.108228e+06,5.478915e+07,61897379,38110028,139.940000
26,2017,3,19022,217997,4062226,1062810,1592304,353480,245790,0,...,56.899221,7696594,28349,7724943,1.006600e+07,7.272585e+06,5.495822e+07,62230809,35711689,141.050000
27,2017,2,22366,222766,4416065,990281,1342000,231604,98635,0,...,54.901191,7401134,28530,7429664,9.678647e+06,7.415230e+06,5.548353e+07,62898758,33509264,142.810000
28,2017,1,20653,230159,4584534,975027,1129987,210668,47990,0,...,54.162116,7277314,28540,7305854,8.701201e+06,7.502772e+06,5.552335e+07,63026122,31205565,143.590000
29,2016,4,20724,233398,4673339,971094,1038029,169522,38590,0,...,53.936019,7223128,28545,7251673,7.483980e+06,7.637635e+06,5.608217e+07,63719805,30143233,145.550000
30,2016,3,20104,294413,4816081,936533,919208,124564,31022,0,...,53.734186,7178340,28610,7206950,6.912442e+06,7.520789e+06,5.605855e+07,63579339,27416177,145.600000
31,2016,2,44008,384221,5058481,796998,785759,73977,29020,0,...,53.342201,7097604,32475,7130079,6.534241e+06,7.565115e+06,5.455741e+07,62122521,25353971,142.640000
32,2016,1,30428,404810,4944358,762999,641646,27664,23380,0,...,51.845452,6874704,32652,6907356,5.936845e+06,7.483126e+06,5.400364e+07,61486761,24763052,141.550000
33,2015,4,34243,427394,5049640,726740,639011,17568,22170,0,...,52.630888,6952289,32542,6984831,5.376899e+06,7.594526e+06,5.424748e+07,61842011,24881967,142.750000
34,2015,3,35030,455777,5087802,701187,539414,13101,20677,0,...,52.459106,6902267,32801,6935068,5.153739e+06,7.600799e+06,5.313171e+07,60732511,21785238,140.560000
35,2015,2,40723,500175,5138431,645440,432762,10045,18529,0,...,51.760266,6783279,32909,6816188,4.701791e+06,7.633527e+06,5.224194e+07,59875466,19945453,138.940000
36,2015,1,41158,516919,5121423,571620,348102,7643,16347,0,...,51.364586,6699714,38018,6737732,4.876385e+06,7.747230e+06,5.247463e+07,60221863,19337342,140.120000
37,2014,4,44075,554749,5084556,496251,276254,4371,15229,0,...,50.499788,6559172,39324,6598496,3.950441e+06,8.027505e+06,5.309333e+07,61120835,20012332,142.600000
38,2014,3,37430,608018,5153437,373372,182483,507,12424,0,...,50.672368,6559264,36007,6595271,3.478638e+06,8.214424e+06,5.310204e+07,61316467,18976053,143.440000
39,2014,2,41064,656408,5149574,341689,147273,478,12259,0,...,49.861428,6428329,36139,6464468,3.270816e+06,7.953775e+06,5.300986e+07,60963640,17680972,143.000000
40,2014,1,52684,687619,5130294,289182,101127,345,11595,0,...,49.545821,6362108,36290,6398398,2.984054e+06,8.224482e+06,5.472509e+07,62949571,15938353,148.070000

In [121]:
df_ready_totales.head(5)

,Año,Trimestre,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,...,Accesos por cada 100 hogares,Banda ancha fija,Dial up,Total BAF-Dial,Ingresos totales (miles de $),Total de accesos pospago,Total de accesos prepago,Total de accesos operativos,Ingresos disp moviles (miles de $),Accesos disp_movil cada 100 hab
0,2024,1,28801,69355,866152,950930,672155,353896,8363694,328173,...,78.89,11621363,11793,11633156,2.804191e+08,8398514.0,54455565.0,62854079,769485386,133.931678
1,2023,4,29708,71742,900253,978108,697232,350290,8224736,295592,...,78.56,11535868,11793,11547661,1.673760e+08,8301200.0,54407950.0,62709150,515335742,133.917534
2,2023,3,30274,80609,945608,998725,720084,350918,8003269,277421,...,77.84,11395115,11793,11406908,1.331066e+08,7903181.0,53281127.0,61184308,380119973,130.949964
3,2023,2,30827,79405,963510,1028250,734125,364730,7775095,275955,...,77.02,11239781,12116,11251897,1.180603e+08,7310125.0,53572899.0,60883024,307337085,130.595340
4,2023,1,31437,82048,1001553,1060321,729194,357769,7564819,414754,...,77.20,11229459,12436,11241895,1.041350e+08,7028083.0,53269840.0,60297923,257558366,129.632078

---
Carga de data a la DB
---
---

In [122]:
# Datos para conectar a la DB
connection = pymysql.connect(
    host='bn83gilwrcfotqoazybx-mysql.services.clever-cloud.com',
    user='uc0tzjpbwmcv8ro5',
    password='LaNI5u2ZjXzafghQRntP',
    db='bn83gilwrcfotqoazybx'
)

# Dropea una tabla si esta existe [[[Dropea la tabla si existe]]]
# Crear un cursor
cursor = connection.cursor()
create_table_query = '''
DROP TABLE IF EXISTS `bn83gilwrcfotqoazybx`.`total_data_internet_TV_dispMovil`
'''
 # Ejecutar la consulta
cursor.execute(create_table_query)
# Confirmar los cambios
connection.commit()


# Crear un cursor   [[Crea la tabla]]]
cursor = connection.cursor()
# Crear una tabla en la DB
create_table_query = '''
CREATE TABLE `bn83gilwrcfotqoazybx`.`total_data_internet_TV_dispMovil` (
`anio` INT NOT NULL , 
`trimestre` INT NOT NULL ,
`0 a 512 Kbps` INT NOT NULL,
`513 Kbps a 1 Mbps` INT NOT NULL,
`1.1 a 6 Mbps` INT NOT NULL,
`6.1 a 10 Mbps` INT NOT NULL,
`10.1 a 20 Mbps` INT NOT NULL,
`20.1 a 30 Mbps` INT NOT NULL, 
`mayor a 30 Mbps` INT NOT NULL, 
`otras_velocidades` INT NOT NULL,
`total_velocidades` INT NOT NULL,
`Mbps(Media de bajada)` DECIMAL(6,2),
`ADSL` INT NOT NULL, 
`cablemodem` INT NOT NULL,
`fibra_optica` INT NOT NULL,
`wireless` INT NOT NULL,
`otros_accesos_tec` INT NOT NULL, 
`total_accesos_tec` INT NOT NULL, 
`accesos_cada_100_hab` DECIMAL(6,2),
`accesos_cada_100_hogares` DECIMAL(6,2), 
`BAF-Dial` INT NOT NULL,
`Dial_up` INT NOT NULL,
`total_dial` INT NOT NULL,
`ingresos_totales(miles)` DECIMAL(12,2),
`total_accesos_pospago` INT NOT NULL,
`total_accesos_prepago` INT NOT NULL,
`total_accesos_operativos` INT NOT NULL,
`ingresos_disp_moviles(miles)` DECIMAL(16,2),
`accesos_disp_movil_c100hab` DECIMAL(6,2)) ENGINE = InnoDB;;
'''
 # Ejecutar la consulta
cursor.execute(create_table_query)
# Confirmar los cambios
connection.commit()

# Mandar los datos a la DB [[Cargar DATA]]
cursor = connection.cursor()
for i, row in df_ready_totales.iterrows():
    sql = '''
    INSERT INTO `bn83gilwrcfotqoazybx`.`total_data_internet_TV_dispMovil` (
    `anio` , 
    `trimestre` ,
    `0 a 512 Kbps` ,
    `513 Kbps a 1 Mbps` ,
    `1.1 a 6 Mbps` ,
    `6.1 a 10 Mbps` ,
    `10.1 a 20 Mbps` ,
    `20.1 a 30 Mbps` , 
    `mayor a 30 Mbps` , 
    `otras_velocidades` ,
    `total_velocidades` ,
    `Mbps(Media de bajada)` ,
    `ADSL` , 
    `cablemodem` ,
    `fibra_optica` ,
    `wireless` ,
    `otros_accesos_tec`, 
    `total_accesos_tec`, 
    `accesos_cada_100_hab`,
    `accesos_cada_100_hogares`, 
    `BAF-Dial`,
    `Dial_up`,
    `total_dial`,
    `ingresos_totales(miles)`,
    `total_accesos_pospago` ,
    `total_accesos_prepago` ,
    `total_accesos_operativos` ,
    `ingresos_disp_moviles(miles)` ,
    `accesos_disp_movil_c100hab`) VALUES 
    (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    '''
    cursor.execute(sql, (row['Año'], row['Trimestre'], row['Hasta 512 kbps'], row['Entre 512 Kbps y 1 Mbps'], row['Entre 1 Mbps y 6 Mbps'],
                        row['Entre 6 Mbps y 10 Mbps'], row['Entre 10 Mbps y 20 Mbps'], row['Entre 20 Mbps y 30 Mbps'], row['Más de 30 Mbps'] , row['OTROS'],
                        row['Total velocidad'], row['Mbps (Media de bajada)'], row['ADSL'], row['Cablemodem'], row['Fibra óptica'], row['Wireless'], row['Otros accesos tecnologia'],
                        row['Total accesos tecnologia'], row['Accesos por cada 100 hab'], row['Accesos por cada 100 hogares'], row['Banda ancha fija'], 
                        row['Dial up'], row['Total BAF-Dial'], row['Ingresos totales (miles de $)'], row['Total de accesos pospago'], row['Total de accesos prepago'], row['Total de accesos operativos'],
                        row['Ingresos disp moviles (miles de $)'], row['Accesos disp_movil cada 100 hab']))

connection.commit()

# Cerrar la conexión
connection.close()

In [123]:
df_ready_totales.columns

Index(['Año', 'Trimestre', 'Hasta 512 kbps', 'Entre 512 Kbps y 1 Mbps',
       'Entre 1 Mbps y 6 Mbps', 'Entre 6 Mbps y 10 Mbps',
       'Entre 10 Mbps y 20 Mbps', 'Entre 20 Mbps y 30 Mbps', 'Más de 30 Mbps',
       'OTROS', 'Total velocidad', 'Mbps (Media de bajada)', 'ADSL',
       'Cablemodem', 'Fibra óptica', 'Wireless', 'Otros accesos tecnologia',
       'Total accesos tecnologia', 'Accesos por cada 100 hab',
       'Accesos por cada 100 hogares', 'Banda ancha fija', 'Dial up',
       'Total BAF-Dial', 'Ingresos totales (miles de $)',
       'Total de accesos pospago', 'Total de accesos prepago',
       'Total de accesos operativos', 'Ingresos disp moviles (miles de $)',
       'Accesos disp_movil cada 100 hab'],
      dtype='object')

In [124]:
# Guarda dataframe en archivo CSV
# df_ready.to_csv('../Data/totales_internet_dispMoviles')

---
Televisión
---

En el dataset de Televisión hay tres tablas importantes:
1. Accesos, dividido en accesos TV satelital y TV por suscripción (2 variables)
2. Ingresos, cantidad monetaría que han dejado de ganancia los accesos de Televisión en sus dos categorias (2 variables)
3. Penetracion de TV accesos cada 100 hab y accesos cada 100 Hogares(suscripción y satelital) (4 variables)

Total 8 variables que se cargan al dataset y así a la DB
---

In [130]:
df_accesos_TV.head()

,Año,Trimestre,Accesos TV por suscripción,Accesos TV satelital,Periodo
0,2024,1,7601499,1445205,Ene-Mar 2024
1,2023,4,7650809,1508789,Oct-Dic 2023
2,2023,3,7743735,1683205,Jul-Sept 2022
3,2023,2,8076400,1735655,Abr-Jun 2023
4,2023,1,7770412,1766221,Ene-Mar 2023

In [131]:
df_accesos_TV.info() # se puede notar que sólo existen 40 datos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 5 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Año                         40 non-null     int64
 1   Trimestre                   40 non-null     int64
 2   Accesos TV por suscripción  40 non-null     int64
 3   Accesos TV satelital        40 non-null     int64
 4    Periodo                    40 non-null     object
dtypes: int64(4), object(1)
memory usage: 1.7+ KB

In [171]:
df_TV_Acc_tot = df_accesos_TV.groupby(by='Año').sum() #Los años estan dentro de los rangos estudiados, sin embargo, en el año 2014 falta incorporar un trimestre, en el periodo se puede visualizar
df_TV_Acc_tot

,Trimestre,Accesos TV por suscripción,Accesos TV satelital,Periodo
Año,,,,
2014,9,19366411,7463102,Oct-Dic 2014Jul-Sept 2014Abr-Jun 2014
2015,10,25864964,10201057,Oct-Dic 2015Jul-Sept 2015Abr-Jun 2015Ene-Mar 2015
2016,10,26132276,10472114,Oct-Dic 2016Jul-Sept 2016Abr-Jun 2016Ene-Mar 2016
2017,10,26962861,10262533,Oct-Dic 2017Jul-Sept 2017Abr-Jun 2017Ene-Mar 2017
2018,10,27818460,9980992,Oct-Dic 2018Jul-Sept 2018Abr-Jun 2018Ene-Mar 2018
2019,10,28473275,9854100,Oct-Dic 2019Jul-Sept 2019Abr-Jun 2019Ene-Mar 2019
2020,10,29107987,9682535,Oct-Dic 2020Jul-Sept 2020Abr-Jun 2020Ene-Mar 2020
2021,10,29953669,8745672,Oct-Dic 2021Jul-Sept 2021Abr-Jun 2021Ene-Mar 2021
2022,10,30558367,8016842,Oct-Dic 2022Jul-Sept 2022Abr-Jun 2022Ene-Mar 2022
2023,10,31241356,6693870,Oct-Dic 2023Jul-Sept 2022Abr-Jun 2023Ene-Mar 2023
2024,1,7601499,1445205,Ene-Mar 2024

Para imputar datos faltantes, se pueden realizar dos opciones, llnarlos con un cero o busacrlos en el dataset, para este caso los buscaremos e incorporaremos en el dataset

In [163]:
df_acc_tv_compl = pd.read_excel('../Data/Television.xlsx', sheet_name='Accesos_prov_TV')

In [173]:
Accesos_TV_suscripcion_2014 = df_acc_tv_compl[df_acc_tv_compl['Año'] == 2014][df_acc_tv_compl['Trimestre'] == 1].sum()['Accesos TV por suscripción (Vrf)']

C:\Users\Usuario\AppData\Local\Temp\ipykernel_33432\1234625070.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  Accesos_TV_suscripcion_2014 = df_acc_tv_compl[df_acc_tv_compl['Año'] == 2014][df_acc_tv_compl['Trimestre'] == 1].sum()['Accesos TV por suscripción (Vrf)']

In [195]:
# Agrega los datos faltantes del dataframe con trimestre 1 y año 2014, Accesois TV satelital no se conocen
df_accesos_TV.loc[len(df_accesos_TV)] = [2014, 1, Accesos_TV_suscripcion_2014, 0, 'Ene-Mar-2014']
df_accesos_TV

,Año,Trimestre,Accesos TV por suscripción,Accesos TV satelital,Periodo
0,2024,1,7601499,1445205,Ene-Mar 2024
1,2023,4,7650809,1508789,Oct-Dic 2023
2,2023,3,7743735,1683205,Jul-Sept 2022
3,2023,2,8076400,1735655,Abr-Jun 2023
4,2023,1,7770412,1766221,Ene-Mar 2023
5,2022,4,7680025,1837878,Oct-Dic 2022
6,2022,3,7665931,2064699,Jul-Sept 2022
7,2022,2,7647584,2064637,Abr-Jun 2022
8,2022,1,7564827,2049628,Ene-Mar 2022
9,2021,4,7596758,2010217,Oct-Dic 2021
10,2021,3,7676892,2147571,Jul-Sept 2021
11,2021,2,7333071,2326029,Abr-Jun 2021
12,2021,1,7346948,2261855,Ene-Mar 2021
13,2020,4,7332508,2320365,Oct-Dic 2020
14,2020,3,7329433,2451671,Jul-Sept 2020
15,2020,2,7224135,2453731,Abr-Jun 2020
16,2020,1,7221911,2456768,Ene-Mar 2020
17,2019,4,7296185,2459872,Oct-Dic 2019
18,2019,3,7156690,2460927,Jul-Sept 2019
19,2019,2,7048709,2460177,Abr-Jun 2019
20,2019,1,6971691,2473124,Ene-Mar 2019
21,2018,4,6911972,2474558,Oct-Dic 2018
22,2018,3,7043550,2536706,Jul-Sept 2018
23,2018,2,6930762,2502826,Abr-Jun 2018
24,2018,1,6932176,2466902,Ene-Mar 2018
25,2017,4,6826025,2562320,Oct-Dic 2017
26,2017,3,6767020,2592551,Jul-Sept 2017
27,2017,2,6766484,2576258,Abr-Jun 2017
28,2017,1,6603332,2531404,Ene-Mar 2017
29,2016,4,6553801,2662031,Oct-Dic 2016
30,2016,3,6538382,2628542,Jul-Sept 2016
31,2016,2,6534381,2642286,Abr-Jun 2016
32,2016,1,6505712,2539255,Ene-Mar 2016
33,2015,4,6506102,2537610,Oct-Dic 2015
34,2015,3,6489305,2585384,Jul-Sept 2015
35,2015,2,6460053,2582737,Abr-Jun 2015
36,2015,1,6409504,2495326,Ene-Mar 2015
37,2014,4,6478044,2466184,Oct-Dic 2014
38,2014,3,6449845,2450098,Jul-Sept 2014
39,2014,2,6438522,2546820,Abr-Jun 2014
40,2014,1,5434532,0,Ene-Mar-2014

In [197]:
df_accesos_TV.columns

Index(['Año', 'Trimestre', 'Accesos TV por suscripción',
       'Accesos TV satelital', ' Periodo '],
      dtype='object')

In [199]:
# seleccionar sólo la columna a utilizar
df_accesos_TV = df_accesos_TV[['Accesos TV por suscripción', 'Accesos TV satelital']]
df_accesos_TV

    Accesos TV por suscripción  Accesos TV satelital
0                      7601499               1445205
1                      7650809               1508789
2                      7743735               1683205
3                      8076400               1735655
4                      7770412               1766221
5                      7680025               1837878
6                      7665931               2064699
7                      7647584               2064637
8                      7564827               2049628
9                      7596758               2010217
10                     7676892               2147571
11                     7333071               2326029
12                     7346948               2261855
13                     7332508               2320365
14                     7329433               2451671
15                     7224135               2453731
16                     7221911               2456768
17                     7296185               2459872
18                     7156690               2460927
19                     7048709               2460177
20                     6971691               2473124
21                     6911972               2474558
22                     7043550               2536706
23                     6930762               2502826
24                     6932176               2466902
25                     6826025               2562320
26                     6767020               2592551
27                     6766484               2576258
28                     6603332               2531404
29                     6553801               2662031
30                     6538382               2628542
31                     6534381               2642286
32                     6505712               2539255
33                     6506102               2537610
34                     6489305               2585384
35                     6460053               2582737
36                     6409504               2495326
37                     6478044               2466184
38                     6449845               2450098
39                     6438522               2546820
40                     5434532                     0

---
Ingresos TV
---
---

In [201]:
df_ingresos_TV.head(5)

,Año,Trimestre,Ingresos TV por suscripción (miles de $),Ingresos TV satelital (miles de $)
0,2024,1,1.907872e+08,94270533.93
1,2023,4,1.335822e+08,64748818.98
2,2023,3,1.037380e+08,51179479.92
3,2023,2,8.701537e+07,38625145.74
4,2023,1,7.473935e+07,33430741.33

In [205]:
df_ingresos_TV.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 4 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Año                                        41 non-null     int64
 1   Trimestre                                  41 non-null     int64
 2   Ingresos TV por suscripción  (miles de $)  41 non-null     float64
 3   Ingresos TV satelital (miles de $)         41 non-null     float64
dtypes: float64(2), int64(2)
memory usage: 1.4 KB

In [206]:
# seleccionar sólo la columna a utilizar
df_ingresos_TV = df_ingresos_TV[['Ingresos TV por suscripción  (miles de $)', 'Ingresos TV satelital (miles de $)']]
df_ingresos_TV

,Ingresos TV por suscripción (miles de $),Ingresos TV satelital (miles de $)
0,1.907872e+08,9.427053e+07
1,1.335822e+08,6.474882e+07
2,1.037380e+08,5.117948e+07
3,8.701537e+07,3.862515e+07
4,7.473935e+07,3.343074e+07
5,6.243290e+07,2.972113e+07
6,5.239989e+07,2.707319e+07
7,4.632207e+07,2.355948e+07
8,4.211344e+07,2.126809e+07
9,3.827339e+07,1.803807e+07
10,3.639803e+07,1.803952e+07
11,3.367500e+07,1.803844e+07
12,3.192452e+07,1.803836e+07
13,2.632410e+07,1.447962e+07
14,2.538615e+07,1.293320e+07
15,2.462001e+07,1.254473e+07
16,2.514747e+07,1.235276e+07
17,2.278545e+07,1.215059e+07
18,2.028473e+07,1.089620e+07
19,1.839221e+07,9.937613e+06
20,1.747949e+07,8.816484e+06
21,1.521125e+07,8.270871e+06
22,1.419760e+07,8.179603e+06
23,1.335836e+07,7.797684e+06
24,1.227731e+07,7.145425e+06
25,1.164256e+07,6.844906e+06
26,1.076474e+07,6.093650e+06
27,9.936139e+06,5.764635e+06
28,9.607361e+06,5.262244e+06
29,8.517141e+06,5.016641e+06
30,8.293761e+06,4.653224e+06
31,7.353429e+06,4.400976e+06
32,7.137386e+06,4.069680e+06
33,6.347227e+06,3.635228e+06
34,6.130816e+06,3.439336e+06
35,5.467605e+06,3.196655e+06
36,5.292088e+06,3.021837e+06
37,4.711967e+06,2.686124e+06
38,4.423009e+06,2.530797e+06
39,4.053729e+06,2.341708e+06
40,3.599484e+06,2.001221e+06

---
Penetración de TV
---
---

In [207]:
df_penetracion_TV.head()

,Año,Trimestre,Accesos TV por suscripción por cada 100 hab,Accesos TV satelital por cada 100 hab,Accesos TV por suscripción por cada 100 hogares,Accesos TV satelital por cada 100 hogares
0,2024,1,16.20,3.08,51.55,9.80
1,2023,4,16.34,3.22,52.05,10.26
2,2023,3,16.57,3.60,52.84,11.49
3,2023,2,17.32,3.72,55.29,11.88
4,2023,1,16.71,3.80,53.36,12.13

In [214]:
df_penetracion_TV.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 4 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Accesos TV por suscripción por cada 100 hab      41 non-null     float64
 1   Accesos TV satelital por cada 100 hab            41 non-null     float64
 2   Accesos TV por suscripción por cada 100 hogares  41 non-null     float64
 3   Accesos TV satelital por cada 100 hogares        41 non-null     float64
dtypes: float64(4)
memory usage: 1.4 KB

In [ ]:
# Seleccionade las columnas a utilizar
df_penetracion_TV = df_penetracion_TV.drop(columns=['Año', 'Trimestre'])

In [215]:
df_penetracion_TV

,Accesos TV por suscripción por cada 100 hab,Accesos TV satelital por cada 100 hab,Accesos TV por suscripción por cada 100 hogares,Accesos TV satelital por cada 100 hogares
0,16.200000,3.080000,51.550000,9.800000
1,16.340000,3.220000,52.050000,10.260000
2,16.570000,3.600000,52.840000,11.490000
3,17.320000,3.720000,55.290000,11.880000
4,16.710000,3.800000,53.360000,12.130000
5,16.550000,3.960000,52.900000,12.660000
6,16.560000,4.460000,52.970000,14.270000
7,16.550000,4.470000,53.010000,14.310000
8,16.412165,4.446742,52.605411,14.253006
9,16.520000,4.370000,52.990000,14.020000
10,16.732634,4.680868,53.723071,15.028752
11,16.020604,5.081690,51.479149,16.329038
12,16.088882,4.953175,51.740907,15.929122
13,16.095325,5.093350,51.803597,16.393198
14,16.126805,5.395452,51.946559,17.379460
15,15.933157,5.411815,51.362956,17.445809
16,15.966818,5.431633,51.511700,17.523381
17,16.170181,5.451695,52.208105,17.601699
18,15.899614,5.467302,51.373753,17.665577
19,15.698091,5.479029,50.760327,17.716633
20,15.581943,5.521520,50.422183,17.867289
21,15.470088,5.538453,50.096955,17.935232
22,15.803862,5.691697,51.214901,18.444839
23,15.589801,5.629765,50.556815,18.256999
24,15.630000,5.560000,50.730000,18.050000
25,15.432259,5.792886,50.115965,18.812287
26,15.360000,5.890000,49.840000,19.100000
27,15.375949,5.854209,50.000000,19.040000
28,14.992304,5.747338,49.010000,18.770000
29,15.034975,6.106925,50.454472,20.493660
30,14.999603,6.030098,50.335769,20.235845
31,14.990424,6.061628,50.304967,20.341653
32,14.924655,5.825266,50.084259,19.548468
33,15.084177,5.883363,50.608315,19.739034
34,15.045234,5.994125,50.477658,20.110648
35,14.977414,5.987988,50.250118,20.090058
36,14.860218,5.785329,49.856918,19.410124
37,15.181907,5.779735,50.924656,19.183440
38,15.115820,5.742036,50.702981,19.058313
39,15.089284,5.968713,50.613969,19.810674
40,12.736339,5.569268,42.721487,18.484883

Uniendo dataframes Televisión:

In [216]:
df_TV_totales = pd.concat([df_accesos_TV, df_penetracion_TV, df_ingresos_TV], axis=1)

In [217]:
df_TV_totales

,Accesos TV por suscripción,Accesos TV satelital,Accesos TV por suscripción por cada 100 hab,Accesos TV satelital por cada 100 hab,Accesos TV por suscripción por cada 100 hogares,Accesos TV satelital por cada 100 hogares,Ingresos TV por suscripción (miles de $),Ingresos TV satelital (miles de $)
0,7601499,1445205,16.200000,3.080000,51.550000,9.800000,1.907872e+08,9.427053e+07
1,7650809,1508789,16.340000,3.220000,52.050000,10.260000,1.335822e+08,6.474882e+07
2,7743735,1683205,16.570000,3.600000,52.840000,11.490000,1.037380e+08,5.117948e+07
3,8076400,1735655,17.320000,3.720000,55.290000,11.880000,8.701537e+07,3.862515e+07
4,7770412,1766221,16.710000,3.800000,53.360000,12.130000,7.473935e+07,3.343074e+07
5,7680025,1837878,16.550000,3.960000,52.900000,12.660000,6.243290e+07,2.972113e+07
6,7665931,2064699,16.560000,4.460000,52.970000,14.270000,5.239989e+07,2.707319e+07
7,7647584,2064637,16.550000,4.470000,53.010000,14.310000,4.632207e+07,2.355948e+07
8,7564827,2049628,16.412165,4.446742,52.605411,14.253006,4.211344e+07,2.126809e+07
9,7596758,2010217,16.520000,4.370000,52.990000,14.020000,3.827339e+07,1.803807e+07
10,7676892,2147571,16.732634,4.680868,53.723071,15.028752,3.639803e+07,1.803952e+07
11,7333071,2326029,16.020604,5.081690,51.479149,16.329038,3.367500e+07,1.803844e+07
12,7346948,2261855,16.088882,4.953175,51.740907,15.929122,3.192452e+07,1.803836e+07
13,7332508,2320365,16.095325,5.093350,51.803597,16.393198,2.632410e+07,1.447962e+07
14,7329433,2451671,16.126805,5.395452,51.946559,17.379460,2.538615e+07,1.293320e+07
15,7224135,2453731,15.933157,5.411815,51.362956,17.445809,2.462001e+07,1.254473e+07
16,7221911,2456768,15.966818,5.431633,51.511700,17.523381,2.514747e+07,1.235276e+07
17,7296185,2459872,16.170181,5.451695,52.208105,17.601699,2.278545e+07,1.215059e+07
18,7156690,2460927,15.899614,5.467302,51.373753,17.665577,2.028473e+07,1.089620e+07
19,7048709,2460177,15.698091,5.479029,50.760327,17.716633,1.839221e+07,9.937613e+06
20,6971691,2473124,15.581943,5.521520,50.422183,17.867289,1.747949e+07,8.816484e+06
21,6911972,2474558,15.470088,5.538453,50.096955,17.935232,1.521125e+07,8.270871e+06
22,7043550,2536706,15.803862,5.691697,51.214901,18.444839,1.419760e+07,8.179603e+06
23,6930762,2502826,15.589801,5.629765,50.556815,18.256999,1.335836e+07,7.797684e+06
24,6932176,2466902,15.630000,5.560000,50.730000,18.050000,1.227731e+07,7.145425e+06
25,6826025,2562320,15.432259,5.792886,50.115965,18.812287,1.164256e+07,6.844906e+06
26,6767020,2592551,15.360000,5.890000,49.840000,19.100000,1.076474e+07,6.093650e+06
27,6766484,2576258,15.375949,5.854209,50.000000,19.040000,9.936139e+06,5.764635e+06
28,6603332,2531404,14.992304,5.747338,49.010000,18.770000,9.607361e+06,5.262244e+06
29,6553801,2662031,15.034975,6.106925,50.454472,20.493660,8.517141e+06,5.016641e+06
30,6538382,2628542,14.999603,6.030098,50.335769,20.235845,8.293761e+06,4.653224e+06
31,6534381,2642286,14.990424,6.061628,50.304967,20.341653,7.353429e+06,4.400976e+06
32,6505712,2539255,14.924655,5.825266,50.084259,19.548468,7.137386e+06,4.069680e+06
33,6506102,2537610,15.084177,5.883363,50.608315,19.739034,6.347227e+06,3.635228e+06
34,6489305,2585384,15.045234,5.994125,50.477658,20.110648,6.130816e+06,3.439336e+06
35,6460053,2582737,14.977414,5.987988,50.250118,20.090058,5.467605e+06,3.196655e+06
36,6409504,2495326,14.860218,5.785329,49.856918,19.410124,5.292088e+06,3.021837e+06
37,6478044,2466184,15.181907,5.779735,50.924656,19.183440,4.711967e+06,2.686124e+06
38,6449845,2450098,15.115820,5.742036,50.702981,19.058313,4.423009e+06,2.530797e+06
39,6438522,2546820,15.089284,5.968713,50.613969,19.810674,4.053729e+06,2.341708e+06
40,5434532,0,12.736339,5.569268,42.721487,18.484883,3.599484e+06,2.001221e+06

#Unir este Dataframe para la DataBase

In [219]:
# Se unen los Dataframes
df_ready_totales_with_TV = pd.concat([df_ready_totales, df_TV_totales], axis=1)

In [220]:
df_ready_totales_with_TV

,Año,Trimestre,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,...,Ingresos disp moviles (miles de $),Accesos disp_movil cada 100 hab,Accesos TV por suscripción,Accesos TV satelital,Accesos TV por suscripción por cada 100 hab,Accesos TV satelital por cada 100 hab,Accesos TV por suscripción por cada 100 hogares,Accesos TV satelital por cada 100 hogares,Ingresos TV por suscripción (miles de $),Ingresos TV satelital (miles de $)
0,2024,1,28801,69355,866152,950930,672155,353896,8363694,328173,...,769485386,133.931678,7601499,1445205,16.200000,3.080000,51.550000,9.800000,1.907872e+08,9.427053e+07
1,2023,4,29708,71742,900253,978108,697232,350290,8224736,295592,...,515335742,133.917534,7650809,1508789,16.340000,3.220000,52.050000,10.260000,1.335822e+08,6.474882e+07
2,2023,3,30274,80609,945608,998725,720084,350918,8003269,277421,...,380119973,130.949964,7743735,1683205,16.570000,3.600000,52.840000,11.490000,1.037380e+08,5.117948e+07
3,2023,2,30827,79405,963510,1028250,734125,364730,7775095,275955,...,307337085,130.595340,8076400,1735655,17.320000,3.720000,55.290000,11.880000,8.701537e+07,3.862515e+07
4,2023,1,31437,82048,1001553,1060321,729194,357769,7564819,414754,...,257558366,129.632078,7770412,1766221,16.710000,3.800000,53.360000,12.130000,7.473935e+07,3.343074e+07
5,2022,4,31981,85668,1075272,1109421,765015,335573,7410902,394282,...,216233244,128.650000,7680025,1837878,16.550000,3.960000,52.900000,12.660000,6.243290e+07,2.972113e+07
6,2022,3,33013,96727,1161370,1151906,823505,479822,6995750,349035,...,180356862,127.980000,7665931,2064699,16.560000,4.460000,52.970000,14.270000,5.239989e+07,2.707319e+07
7,2022,2,33667,99498,1193090,1197030,856562,485321,6741922,351594,...,153032313,127.950000,7647584,2064637,16.550000,4.470000,53.010000,14.310000,4.632207e+07,2.355948e+07
8,2022,1,34890,104840,1263273,1209148,967508,509830,6336187,198333,...,130454676,128.370000,7564827,2049628,16.412165,4.446742,52.605411,14.253006,4.211344e+07,2.126809e+07
9,2021,4,41262,28521,1413208,1245333,976539,558358,6032322,194251,...,127389786,128.440000,7596758,2010217,16.520000,4.370000,52.990000,14.020000,3.827339e+07,1.803807e+07
10,2021,3,40174,41437,2550229,1095772,710122,536364,4948174,163269,...,117751925,126.010000,7676892,2147571,16.732634,4.680868,53.723071,15.028752,3.639803e+07,1.803952e+07
11,2021,2,40172,42024,2531271,1080279,693277,647401,4661291,167369,...,104782020,124.260000,7333071,2326029,16.020604,5.081690,51.479149,16.329038,3.367500e+07,1.803844e+07
12,2021,1,39487,41674,2593477,1072722,737930,595920,4379965,186797,...,93112153,123.620000,7346948,2261855,16.088882,4.953175,51.740907,15.929122,3.192452e+07,1.803836e+07
13,2020,4,39510,42185,2622638,1073875,786595,582420,4239237,185102,...,83479114,120.210000,7332508,2320365,16.095325,5.093350,51.803597,16.393198,2.632410e+07,1.447962e+07
14,2020,3,41038,44005,2637984,1040017,799350,538567,4053461,201777,...,79634755,120.180000,7329433,2451671,16.126805,5.395452,51.946559,17.379460,2.538615e+07,1.293320e+07
15,2020,2,41038,48690,2651502,1053107,807775,523437,3711499,194008,...,73538944,121.710000,7224135,2453731,15.933157,5.411815,51.362956,17.445809,2.462001e+07,1.254473e+07
16,2020,1,42550,56170,2649819,1022014,814470,532309,3500882,194212,...,72077147,123.810000,7221911,2456768,15.966818,5.431633,51.511700,17.523381,2.514747e+07,1.235276e+07
17,2019,4,38272,28980,2792307,1046128,851619,1004083,2830746,201046,...,65388842,124.890000,7296185,2459872,16.170181,5.451695,52.208105,17.601699,2.278545e+07,1.215059e+07
18,2019,3,241713,80599,3309137,1026859,806466,1141545,2314898,243467,...,60905891,128.680000,7156690,2460927,15.899614,5.467302,51.373753,17.665577,2.028473e+07,1.089620e+07
19,2019,2,202790,95980,3444458,871142,1169632,1250366,1677830,247983,...,55338816,128.910000,7048709,2460177,15.698091,5.479029,50.760327,17.716633,1.839221e+07,9.937613e+06
20,2019,1,166573,195706,3428759,882836,1464748,1244215,1138728,126570,...,50246691,131.170000,6971691,2473124,15.581943,5.521520,50.422183,17.867289,1.747949e+07,8.816484e+06
21,2018,4,138740,201196,3337982,882388,1472634,1688748,599579,152388,...,44026803,131.150000,6911972,2474558,15.470088,5.538453,50.096955,17.935232,1.521125e+07,8.270871e+06
22,2018,3,5675,220589,3401277,859413,1607137,1571692,524777,156475,...,43280089,132.020000,7043550,2536706,15.803862,5.691697,51.214901,18.444839,1.419760e+07,8.179603e+06
23,2018,2,5972,219467,3316868,979416,1905839,1000036,444391,238455,...,40653502,133.760000,6930762,2502826,15.589801,5.629765,50.556815,18.256999,1.335836e+07,7.797684e+06
24,2018,1,7309,215406,3272724,976956,2068087,862010,397977,236584,...,38733946,136.590000,6932176,2466902,15.630000,5.560000,50.730000,18.050000,1.227731e+07,7.145425e+06
25,2017,4,15041,221474,3773159,1005545,1730353,631946,337559,155145,...,38110028,139.940000,6826025,2562320,15.432259,5.792886,50.115965,18.812287,1.164256e+07,6.844906e+06
26,2017,3,19022,217997,4062226,1062810,1592304,353480,245790,0,...,35711689,141.050000,6767020,2592551,15.360000,5.890000,49.840000,19.100000,1.076474e+07,6.093650e+06
27,2017,2,22366,222766,4416065,990281,1342000,231604,98635,0,...,33509264,142.810000,6766484,2576258,15.375949,5.854209,50.000000,19.040000,9.936139e+06,5.764635e+06
28,2017,1,20653,230159,4584534,975027,1129987,210668,47990,0,...,31205565,143.590000,6603332,2531404,14.992304,5.747338,49.010000,18.770000,9.607361e+06,5.262244e+06
29,2016,4,20724,233398,4673339,971094,1038029,169522,38590,0,...,30143233,145.550000,6553801,2662031,15.034975,6.106925,50.454472,20.493660,8.517141e+06,5.016641e+06
30,2016,3,20104,294413,4816081,936533,919208,124564,31022,0,...,27416177,145.600000,6538382,2628542,14.999603,6.030098,50.335769,20.235845,8.293761e+06,4.653224e+06
31,2016,2,44008,384221,5058481,796998,785759,73977,29020,0,...,25353971,142.640000,6534381,2642286,14.990424,6.061628,50.304967,20.341653,7.353429e+06,4.400976e+06
32,2016,1,30428,404810,4944358,762999,641646,27664,23380,0,...,24763052,141.550000,6505712,2539255,14.924655,5.825266,50.084259,19.548468,7.137386e+06,4.069680e+06
33,2015,4,34243,427394,5049640,726740,639011,17568,22170,0,...,24881967,142.750000,6506102,2537610,15.084177,5.883363,50.608315,19.739034,6.347227e+06,3.635228e+06
34,2015,3,35030,455777,5087802,701187,539414,13101,20677,0,...,21785238,140.560000,6489305,2585384,15.045234,5.994125,50.477658,20.110648,6.130816e+06,3.439336e+06
35,2015,2,40723,500175,5138431,645440,432762,10045,18529,0,...,19945453,138.940000,6460053,2582737,14.977414,5.987988,50.250118,20.090058,5.467605e+06,3.196655e+06
36,2015,1,41158,516919,5121423,571620,348102,7643,16347,0,...,19337342,140.120000,6409504,2495326,14.860218,5.785329,49.856918,19.410124,5.292088e+06,3.021837e+06
37,2014,4,44075,554749,5084556,496251,276254,4371,15229,0,...,20012332,142.600000,6478044,2466184,15.181907,5.779735,50.924656,19.183440,4.711967e+06,2.686124e+06
38,2014,3,37430,608018,5153437,373372,182483,507,12424,0,...,18976053,143.440000,6449845,2450098,15.115820,5.742036,50.702981,19.058313,4.423009e+06,2.530797e+06
39,2014,2,41064,656408,5149574,341689,147273,478,12259,0,...,17680972,143.000000,6438522,2546820,15.089284,5.968713,50.613969,19.810674,4.053729e+06,2.341708e+06
40,2014,1,52684,687619,5130294,289182,101127,345,11595,0,...,15938353,148.070000,5434532,0,12.736339,5.569268,42.721487,18.484883,3.599484e+06,2.001221e+06

---
Carga a la DB 
---
---

In [234]:
# Datos para conectar a la DB
connection = pymysql.connect(
    host='bn83gilwrcfotqoazybx-mysql.services.clever-cloud.com',
    user='uc0tzjpbwmcv8ro5',
    password='LaNI5u2ZjXzafghQRntP',
    db='bn83gilwrcfotqoazybx'
)

# Dropea una tabla si esta existe [[[Dropea la tabla si existe]]]
# Crear un cursor
cursor = connection.cursor()
create_table_query = '''
DROP TABLE IF EXISTS `bn83gilwrcfotqoazybx`.`total_data_internet_TV_dispMovil`
'''
 # Ejecutar la consulta
cursor.execute(create_table_query)
# Confirmar los cambios
connection.commit()


# Crear un cursor   [[Crea la tabla]]]
cursor = connection.cursor()
# Crear una tabla en la DB
create_table_query = '''
CREATE TABLE `bn83gilwrcfotqoazybx`.`total_data_internet_TV_dispMovil` (
`anio` INT NOT NULL , 
`trimestre` INT NOT NULL ,
`0 a 512 Kbps` INT NOT NULL,
`513 Kbps a 1 Mbps` INT NOT NULL,
`1.1 a 6 Mbps` INT NOT NULL,
`6.1 a 10 Mbps` INT NOT NULL,
`10.1 a 20 Mbps` INT NOT NULL,
`20.1 a 30 Mbps` INT NOT NULL, 
`mayor a 30 Mbps` INT NOT NULL, 
`otras_velocidades` INT NOT NULL,
`total_velocidades` INT NOT NULL,
`Mbps(Media de bajada)` DECIMAL(6,2),
`ADSL` INT NOT NULL, 
`cablemodem` INT NOT NULL,
`fibra_optica` INT NOT NULL,
`wireless` INT NOT NULL,
`otros_accesos_tec` INT NOT NULL, 
`total_accesos_tec` INT NOT NULL, 
`accesos_cada_100_hab` DECIMAL(6,2),
`accesos_cada_100_hogares` DECIMAL(6,2), 
`BAF-Dial` INT NOT NULL,
`Dial_up` INT NOT NULL,
`total_dial` INT NOT NULL,
`ingresos_totales(miles)` DECIMAL(12,2),
`total_accesos_pospago` INT NOT NULL,
`total_accesos_prepago` INT NOT NULL,
`total_accesos_operativos` INT NOT NULL,
`ingresos_disp_moviles(miles)` DECIMAL(16,2),
`accesos_disp_movil_c100hab` DECIMAL(6,2),
`TV_acces_suscripcion` INT NOT NULL,
`TV_acces_satelital` INT NOT NULL,
`TV_acces_susc_c100hab` DECIMAL(6,2), 
`TV_acces_sate_c100hab` DECIMAL(6,2), 
`TV_acces_susc_c100hog` DECIMAL(6,2), 
`TV_acces_sate_c100hog` DECIMAL(6,2), 
`TV_ingresos_susc(miles)` DECIMAL(12,2),
`TV_ingresos_sate(miles)` DECIMAL(12,2)) ENGINE = InnoDB;;
'''
 # Ejecutar la consulta
cursor.execute(create_table_query)
# Confirmar los cambios
connection.commit()

# Mandar los datos a la DB [[Cargar DATA]]
cursor = connection.cursor()
for i, row in df_ready_totales_with_TV.iterrows():
    sql = '''
    INSERT INTO `bn83gilwrcfotqoazybx`.`total_data_internet_TV_dispMovil` (
    `anio` , 
    `trimestre` ,
    `0 a 512 Kbps` ,
    `513 Kbps a 1 Mbps` ,
    `1.1 a 6 Mbps` ,
    `6.1 a 10 Mbps` ,
    `10.1 a 20 Mbps` ,
    `20.1 a 30 Mbps` , 
    `mayor a 30 Mbps` , 
    `otras_velocidades` ,
    `total_velocidades` ,
    `Mbps(Media de bajada)` ,
    `ADSL` , 
    `cablemodem` ,
    `fibra_optica` ,
    `wireless` ,
    `otros_accesos_tec`, 
    `total_accesos_tec`, 
    `accesos_cada_100_hab`,
    `accesos_cada_100_hogares`, 
    `BAF-Dial`,
    `Dial_up`,
    `total_dial`,
    `ingresos_totales(miles)`,
    `total_accesos_pospago` ,
    `total_accesos_prepago` ,
    `total_accesos_operativos` ,
    `ingresos_disp_moviles(miles)` ,
    `accesos_disp_movil_c100hab` ,
    `TV_acces_suscripcion` ,
    `TV_acces_satelital` ,
    `TV_acces_susc_c100hab` , 
    `TV_acces_sate_c100hab` , 
    `TV_acces_susc_c100hog` , 
    `TV_acces_sate_c100hog` , 
    `TV_ingresos_susc(miles)` ,
    `TV_ingresos_sate(miles)`) VALUES 
    (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    '''
    cursor.execute(sql, (row['Año'], row['Trimestre'], row['Hasta 512 kbps'], row['Entre 512 Kbps y 1 Mbps'], row['Entre 1 Mbps y 6 Mbps'],
                        row['Entre 6 Mbps y 10 Mbps'], row['Entre 10 Mbps y 20 Mbps'], row['Entre 20 Mbps y 30 Mbps'], row['Más de 30 Mbps'] , row['OTROS'],
                        row['Total velocidad'], row['Mbps (Media de bajada)'], row['ADSL'], row['Cablemodem'], row['Fibra óptica'], row['Wireless'], row['Otros accesos tecnologia'],
                        row['Total accesos tecnologia'], row['Accesos por cada 100 hab'], row['Accesos por cada 100 hogares'], row['Banda ancha fija'], 
                        row['Dial up'], row['Total BAF-Dial'], row['Ingresos totales (miles de $)'], row['Total de accesos pospago'], row['Total de accesos prepago'], row['Total de accesos operativos'],
                        row['Ingresos disp moviles (miles de $)'], row['Accesos disp_movil cada 100 hab'], row['Accesos TV por suscripción'], row['Accesos TV satelital'], 
                        row['Accesos TV por suscripción por cada 100 hab'], row['Accesos TV satelital por cada 100 hab'], row['Accesos TV por suscripción por cada 100 hogares'], 
                        row['Accesos TV satelital por cada 100 hogares'], row['Ingresos TV por suscripción  (miles de $)'], row['Ingresos TV satelital (miles de $)']))

connection.commit()

# Cerrar la conexión
connection.close()

In [232]:
df_ready_totales_with_TV.shape

(41, 37)

In [223]:
df_TV_totales.info()

<class 'pandas.core.frame.DataFrame'>
Index: 41 entries, 0 to 40
Data columns (total 8 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Accesos TV por suscripción                       41 non-null     int64
 1   Accesos TV satelital                             41 non-null     int64
 2   Accesos TV por suscripción por cada 100 hab      41 non-null     float64
 3   Accesos TV satelital por cada 100 hab            41 non-null     float64
 4   Accesos TV por suscripción por cada 100 hogares  41 non-null     float64
 5   Accesos TV satelital por cada 100 hogares        41 non-null     float64
 6   Ingresos TV por suscripción  (miles de $)        41 non-null     float64
 7   Ingresos TV satelital (miles de $)               41 non-null     float64
dtypes: float64(6), int64(2)
memory usage: 2.9 KB

In [236]:
# Guarda los datos en la DB
df_ready_totales_with_TV.to_csv('../Data/totales_internet_telMovil_TV.csv')

---
---
---
---
---

---
Transformaciones para trabajar con los datos de mapa de conectividad
---
---

Dataframes a utilizar

In [367]:
# Dataframe a utilizar
df_AcVelLoc_SR.head()

,Provincia,Partido,Localidad,Link Indec,Otros,"0,256 Mbps","0,5 Mbps","0,512 Mbps","0,75 Mbps",1 Mbps,...,680 Mbps,700 Mbps,800 Mbps,850 Mbps,900 Mbps,999 Mbps,1000 Mbps,1024 Mbps,4000 Mbps,10000 Mbps
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,NaN,NaN,2.0,NaN,19.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,6854010,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BUENOS AIRES,25 de Mayo,Del Valle,6854020,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BUENOS AIRES,25 de Mayo,Ernestina,6854030,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [368]:
df_AcVelLoc_SR.shape

(3065, 125)

El dataframe tiene demasiados Nulos, por el hecho de que sólo se cuentan los datos que tienen la conexión

In [369]:
df_AcVelLoc_SR.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3065 entries, 0 to 3064
Columns: 125 entries, Provincia to 10000 Mbps
dtypes: float64(121), object(4)
memory usage: 2.9+ MB

In [370]:
# Se agrupa el Dataframe de la página 1 mediante rangos de Mbps
# Se definen los rangos de columnas
column_groups = {
    '0 a 1 Mbps': ['0,256 Mbps', '0,5 Mbps', '0,512 Mbps', '0,75 Mbps', '1 Mbps'],
    '1.5 a 3 Mbps': ['1,5 Mbps', '2 Mbps', '2,2 Mbps', '2,5 Mbps', '3 Mbps'],
    '3.3 a 5 Mbps': ['3,3 Mbps', '3,5 Mbps', '4 Mbps', '4,5 Mbps', '5 Mbps'],
    '6 a 10 Mbps': ['6 Mbps', '6,4 Mbps', '7 Mbps', '7,5 Mbps',	'8 Mbps', '9 Mbps',	'10 Mbps'],
    '10.1 a 25 Mbps': ['10,1 Mbps', '10,2 Mbps', '11 Mbps', '12 Mbps',	'12,3 Mbps', '13 Mbps',	'14 Mbps', '15 Mbps', '16 Mbps', '17 Mbps', '18 Mbps', '20 Mbps', '20,5 Mbps',	'21 Mbps', '22 Mbps', '23 Mbps', '24 Mbps', '25 Mbps'],
    '25.1 a 50 Mbps': ['25,1 Mbps', '25,5 Mbps', '26 Mbps', '27 Mbps',	'30 Mbps', '31 Mbps', '32 Mbps', '35 Mbps', '36 Mbps', '40 Mbps', '41 Mbps', '45 Mbps', '48 Mbps',	'49 Mbps', '50 Mbps'],
    '50.1 a 100 Mbps': ['50,1 Mbps', '50,25 Mbps', '51 Mbps', '55 Mbps', '59 Mbps', '60 Mbps', '61 Mbps', '65 Mbps', '66 Mbps', '70 Mbps', '75 Mbps', '80 Mbps', '85 Mbps',	'90 Mbps', '95 Mbps', '98 Mbps', '100 Mbps'],
    '100.1 a 300 Mbps': ['100,1 Mbps', '100,25 Mbps', '105 Mbps', '110 Mbps', '120 Mbps', '122 Mbps', '125 Mbps', '130 Mbps', '140 Mbps', '150 Mbps', '155 Mbps', '160 Mbps', '164 Mbps', '165 Mbps', '180 Mbps', '200 Mbps', '205 Mbps' , '212 Mbps', '220 Mbps', '225 Mbps', '240 Mbps', '246 Mbps', '250 Mbps', '256 Mbps', '275 Mbps', '300 Mbps'],
    '300.1 a 500 Mbps': ['320 Mbps', '325 Mbps', '330 Mbps', '350 Mbps', '400 Mbps', '450 Mbps', '480 Mbps', '500 Mbps'],
    'Mayor a 500 Mbps': ['512 Mbps', '520 Mbps', '540 Mbps', '600 Mbps', '680 Mbps', '700 Mbps', '800 Mbps', '850 Mbps', '900 Mbps', '999 Mbps', '1000 Mbps', '1024 Mbps', '4000 Mbps', '10000 Mbps'],
    'Otros': ['Otros']
}

def group_columns_by_range(df, column_groups, agg_func='sum'):
    """
    Agrupa columnas por rangos definidos y aplica una función de agregación.
    
    param df: DataFrame original a agrupar.
    param column_groups: Diccionario con los nombres de los grupos y las columnas correspondientes.
    param agg_func: Función de agregación ('sum', 'mean', etc.) por defecto suma.
    return: DataFrame con columnas agrupadas.
    """
    grouped_df = pd.DataFrame()
    
    for group_name, columns in column_groups.items():
        if agg_func == 'sum':
            grouped_df[group_name] = df[columns].sum(axis=1)
        elif agg_func == 'mean':
            grouped_df[group_name] = df[columns].mean(axis=1)    
    return grouped_df

In [371]:
df_transformado = group_columns_by_range(df_AcVelLoc_SR, column_groups)
df_transformado

,0 a 1 Mbps,1.5 a 3 Mbps,3.3 a 5 Mbps,6 a 10 Mbps,10.1 a 25 Mbps,25.1 a 50 Mbps,50.1 a 100 Mbps,100.1 a 300 Mbps,300.1 a 500 Mbps,Mayor a 500 Mbps,Otros
0,21.0,85.0,145.0,663.0,2356.0,2175.0,702.0,95.0,3.0,0.0,0.0
1,0.0,0.0,0.0,59.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,181.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,75.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,109.0,63.0,8.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
3060,0.0,0.0,0.0,0.0,0.0,526.0,4370.0,2398.0,123.0,5.0,0.0
3061,0.0,0.0,0.0,0.0,400.0,24.0,0.0,0.0,0.0,0.0,0.0
3062,1.0,23.0,2.0,105.0,68.0,0.0,0.0,0.0,0.0,0.0,0.0
3063,3.0,26.0,79.0,564.0,36.0,0.0,0.0,0.0,0.0,0.0,8.0
3064,14.0,15.0,0.0,21.0,2008.0,4997.0,5665.0,4400.0,502.0,201.0,176.0

In [494]:
df_transformado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3065 entries, 0 to 3064
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   0 a 1 Mbps        3065 non-null   float64
 1   1.5 a 3 Mbps      3065 non-null   float64
 2   3.3 a 5 Mbps      3065 non-null   float64
 3   6 a 10 Mbps       3065 non-null   float64
 4   10.1 a 25 Mbps    3065 non-null   float64
 5   25.1 a 50 Mbps    3065 non-null   float64
 6   50.1 a 100 Mbps   3065 non-null   float64
 7   100.1 a 300 Mbps  3065 non-null   float64
 8   300.1 a 500 Mbps  3065 non-null   float64
 9   Mayor a 500 Mbps  3065 non-null   float64
 10  Otros             3065 non-null   float64
dtypes: float64(11)
memory usage: 263.5 KB

In [495]:
df_AcVelLoc_SR.columns

Index(['Provincia', 'Partido', 'Localidad', 'Link Indec', 'Otros',
       '0,256 Mbps', '0,5 Mbps', '0,512 Mbps', '0,75 Mbps', '1 Mbps',
       ...
       '680 Mbps', '700 Mbps', '800 Mbps', '850 Mbps', '900 Mbps', '999 Mbps',
       '1000 Mbps', '1024 Mbps', '4000 Mbps', '10000 Mbps'],
      dtype='object', length=125)

In [496]:
#Elegimos solo las columnas con informacion de ubicaciones
df_transformado_loc = df_AcVelLoc_SR[['Link Indec','Provincia', 'Partido', 'Localidad']]
df_transformado_loc

     Link Indec     Provincia      Partido                           Localidad
0       6854100  BUENOS AIRES   25 de Mayo                          25 de Mayo
1       6854010  BUENOS AIRES   25 de Mayo                     Agustín Mosconi
2       6854020  BUENOS AIRES   25 de Mayo                           Del Valle
3       6854030  BUENOS AIRES   25 de Mayo                           Ernestina
4       6854040  BUENOS AIRES   25 de Mayo                   Gobernador Ugarte
...         ...           ...          ...                                 ...
3060   90105100       TUCUMAN   Tafí Viejo  Villa Mariano Moreno - El Colmenar
3061   90112020       TUCUMAN      Trancas                San Pedro de Colalao
3062   90112030       TUCUMAN      Trancas                   Villa  de Trancas
3063   90119020       TUCUMAN  Yerba Buena                       Villa Carmela
3064   90119030       TUCUMAN  Yerba Buena            Yerba Buena - Marcos Paz

[3065 rows x 4 columns]

In [497]:
# Transformano las columnas a mayusculas
df_transformado_loc['Localidad'] = df_transformado_loc['Localidad'].str.upper()
df_transformado_loc['Partido'] = df_transformado_loc['Partido'].str.upper()
df_transformado_loc

C:\Users\Usuario\AppData\Local\Temp\ipykernel_33432\2800566692.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_transformado_loc['Localidad'] = df_transformado_loc['Localidad'].str.upper()
C:\Users\Usuario\AppData\Local\Temp\ipykernel_33432\2800566692.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_transformado_loc['Partido'] = df_transformado_loc['Partido'].str.upper()

     Link Indec     Provincia      Partido                           Localidad
0       6854100  BUENOS AIRES   25 DE MAYO                          25 DE MAYO
1       6854010  BUENOS AIRES   25 DE MAYO                     AGUSTÍN MOSCONI
2       6854020  BUENOS AIRES   25 DE MAYO                           DEL VALLE
3       6854030  BUENOS AIRES   25 DE MAYO                           ERNESTINA
4       6854040  BUENOS AIRES   25 DE MAYO                   GOBERNADOR UGARTE
...         ...           ...          ...                                 ...
3060   90105100       TUCUMAN   TAFÍ VIEJO  VILLA MARIANO MORENO - EL COLMENAR
3061   90112020       TUCUMAN      TRANCAS                SAN PEDRO DE COLALAO
3062   90112030       TUCUMAN      TRANCAS                   VILLA  DE TRANCAS
3063   90119020       TUCUMAN  YERBA BUENA                       VILLA CARMELA
3064   90119030       TUCUMAN  YERBA BUENA            YERBA BUENA - MARCOS PAZ

[3065 rows x 4 columns]

In [498]:
df_transformado_loc['Link Indec'] = df_transformado_loc['Link Indec'].replace({'Sin Datos': 0})

C:\Users\Usuario\AppData\Local\Temp\ipykernel_33432\4173107075.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_transformado_loc['Link Indec'] = df_transformado_loc['Link Indec'].replace({'Sin Datos': 0})
C:\Users\Usuario\AppData\Local\Temp\ipykernel_33432\4173107075.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_transformado_loc['Link Indec'] = df_transformado_loc['Link Indec'].replace({'Sin Datos': 0})

In [499]:
df_transformado_loc['Link Indec'] = df_transformado_loc['Link Indec'].astype('int')
df_mapa_conectividad['Link'] = df_mapa_conectividad['Link'].fillna(0)
df_mapa_conectividad['Link'] = df_mapa_conectividad['Link'].astype('int')

C:\Users\Usuario\AppData\Local\Temp\ipykernel_33432\2572507039.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_transformado_loc['Link Indec'] = df_transformado_loc['Link Indec'].astype('int')

Transformando el dataset mapa de conectividad

In [501]:
df_mapa_conectividad_union1 = df_mapa_conectividad[['Link', 'Latitud', 'Longitud']]

In [502]:
df_mapa_conectividad_union1

          Link    Latitud   Longitud
0      6854100 -35.433939 -60.173121
1      6854010 -35.739217 -60.559063
2      6854020 -35.897345 -60.731609
3      6854030 -35.270234 -59.557503
4      6854040 -35.164397 -60.081358
...        ...        ...        ...
4300  82042310 -33.794294 -61.211441
4301  82049010 -28.725087 -59.480416
4302  82049020 -29.119366 -59.659251
4303  82049030 -29.275268 -59.847222
4304  82049040 -29.133494 -59.947315

[4305 rows x 3 columns]

In [509]:
df_transformado_loc = df_transformado_loc.rename(columns={'Link Indec': 'Link'})

In [478]:
df_mapa_conectividad.head(5)

,Provincia,Partido,Localidad,Población,ADSL,Cablemódem,Dial Up,Fibra óptica,Satelital,Wireless,Telefonía Fija,3G,4G,Link,Latitud,Longitud
0,BUENOS AIRES,25 DE MAYO,25 DE MAYO,23408,1,1,0,0,1,1,1,1,1,6854100,-35.433939,-60.173121
1,BUENOS AIRES,25 DE MAYO,AGUSTÍN MOSCONI,280,0,0,0,0,0,0,1,0,0,6854010,-35.739217,-60.559063
2,BUENOS AIRES,25 DE MAYO,DEL VALLE,899,1,0,0,0,1,0,0,1,0,6854020,-35.897345,-60.731609
3,BUENOS AIRES,25 DE MAYO,ERNESTINA,145,1,0,0,0,0,0,1,0,0,6854030,-35.270234,-59.557503
4,BUENOS AIRES,25 DE MAYO,GOBERNADOR UGARTE,547,0,0,0,0,0,1,0,0,0,6854040,-35.164397,-60.081358

In [479]:
df_mapa_conectividad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4305 entries, 0 to 4304
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Provincia       4305 non-null   object
 1   Partido         4305 non-null   object
 2   Localidad       4305 non-null   object
 3   Población       4305 non-null   int64
 4   ADSL            4305 non-null   int64
 5   Cablemódem      4305 non-null   int64
 6   Dial Up         4305 non-null   int64
 7   Fibra óptica    4305 non-null   int64
 8   Satelital       4305 non-null   int64
 9   Wireless        4305 non-null   int64
 10  Telefonía Fija  4305 non-null   int64
 11  3G              4305 non-null   int64
 12  4G              4305 non-null   int64
 13  Link            4305 non-null   int32
 14  Latitud         4305 non-null   float64
 15  Longitud        4305 non-null   float64
dtypes: float64(2), int32(1), int64(10), object(3)
memory usage: 521.4+ KB

In [480]:
# Pasar provincia a Mayusculas
df_mapa_conectividad['Partido'] = df_mapa_conectividad['Partido'].str.upper()
df_mapa_conectividad['Localidad'] = df_mapa_conectividad['Localidad'].str.upper()

In [481]:
# reemplaza los valores Si por 1 y No por 0
df_mapa_conectividad = df_mapa_conectividad.replace({'SI': 1, '--': 0})

In [482]:
# Uniendo los Dataframes 
df_transformado_vel = pd.concat([df_transformado_loc, df_transformado], axis=1)

In [483]:
df_transformado_vel

,Link Indec,Provincia,Partido,Localidad,0 a 1 Mbps,1.5 a 3 Mbps,3.3 a 5 Mbps,6 a 10 Mbps,10.1 a 25 Mbps,25.1 a 50 Mbps,50.1 a 100 Mbps,100.1 a 300 Mbps,300.1 a 500 Mbps,Mayor a 500 Mbps,Otros
0,6854100,BUENOS AIRES,25 DE MAYO,25 DE MAYO,21.0,85.0,145.0,663.0,2356.0,2175.0,702.0,95.0,3.0,0.0,0.0
1,6854010,BUENOS AIRES,25 DE MAYO,AGUSTÍN MOSCONI,0.0,0.0,0.0,59.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0
2,6854020,BUENOS AIRES,25 DE MAYO,DEL VALLE,1.0,181.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,6854030,BUENOS AIRES,25 DE MAYO,ERNESTINA,0.0,0.0,75.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,6854040,BUENOS AIRES,25 DE MAYO,GOBERNADOR UGARTE,0.0,109.0,63.0,8.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3060,90105100,TUCUMAN,TAFÍ VIEJO,VILLA MARIANO MORENO - EL COLMENAR,0.0,0.0,0.0,0.0,0.0,526.0,4370.0,2398.0,123.0,5.0,0.0
3061,90112020,TUCUMAN,TRANCAS,SAN PEDRO DE COLALAO,0.0,0.0,0.0,0.0,400.0,24.0,0.0,0.0,0.0,0.0,0.0
3062,90112030,TUCUMAN,TRANCAS,VILLA DE TRANCAS,1.0,23.0,2.0,105.0,68.0,0.0,0.0,0.0,0.0,0.0,0.0
3063,90119020,TUCUMAN,YERBA BUENA,VILLA CARMELA,3.0,26.0,79.0,564.0,36.0,0.0,0.0,0.0,0.0,0.0,8.0
3064,90119030,TUCUMAN,YERBA BUENA,YERBA BUENA - MARCOS PAZ,14.0,15.0,0.0,21.0,2008.0,4997.0,5665.0,4400.0,502.0,201.0,176.0

In [484]:
# Renombra la columna Link Indec
df_transformado_vel = df_transformado_vel.rename(columns={'Link Indec': 'Link'})
df_transformado_vel.columns

Index(['Link', 'Provincia', 'Partido', 'Localidad', '0 a 1 Mbps',
       '1.5 a 3 Mbps', '3.3 a 5 Mbps', '6 a 10 Mbps', '10.1 a 25 Mbps',
       '25.1 a 50 Mbps', '50.1 a 100 Mbps', '100.1 a 300 Mbps',
       '300.1 a 500 Mbps', 'Mayor a 500 Mbps', 'Otros'],
      dtype='object')

In [566]:
df_mapa_ready = pd.merge(df_transformado_vel, df_mapa_conectividad, on=['Link','Provincia','Partido','Localidad'], how='right')

In [567]:
df_mapa_ready = df_mapa_ready.dropna(subset=['Latitud', 'Longitud'])

In [568]:
df_mapa_ready.shape

(4305, 27)

In [569]:
df_mapa_ready.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4305 entries, 0 to 4304
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Link              4305 non-null   int32
 1   Provincia         4305 non-null   object
 2   Partido           4305 non-null   object
 3   Localidad         4305 non-null   object
 4   0 a 1 Mbps        2944 non-null   float64
 5   1.5 a 3 Mbps      2944 non-null   float64
 6   3.3 a 5 Mbps      2944 non-null   float64
 7   6 a 10 Mbps       2944 non-null   float64
 8   10.1 a 25 Mbps    2944 non-null   float64
 9   25.1 a 50 Mbps    2944 non-null   float64
 10  50.1 a 100 Mbps   2944 non-null   float64
 11  100.1 a 300 Mbps  2944 non-null   float64
 12  300.1 a 500 Mbps  2944 non-null   float64
 13  Mayor a 500 Mbps  2944 non-null   float64
 14  Otros             2944 non-null   float64
 15  Población         4305 non-null   int64
 16  ADSL              4305 non-null   int64
 17  Cablemódem        4305 non-null   int64
 18  Dial Up           4305 non-null   int64
 19  Fibra óptica      4305 non-null   int64
 20  Satelital         4305 non-null   int64
 21  Wireless          4305 non-null   int64
 22  Telefonía Fija    4305 non-null   int64
 23  3G                4305 non-null   int64
 24  4G                4305 non-null   int64
 25  Latitud           4305 non-null   float64
 26  Longitud          4305 non-null   float64
dtypes: float64(13), int32(1), int64(10), object(3)
memory usage: 891.4+ KB

In [570]:
# Por ser conteo, se llenan los nulos con ceros
df_mapa_ready = df_mapa_ready.fillna(0)

In [571]:
df_mapa_ready.loc[800]

Link                     50049040
Provincia                 MENDOZA
Partido                 LAS HERAS
Localidad           EL PLUMERILLO
0 a 1 Mbps                    0.0
1.5 a 3 Mbps                  0.0
3.3 a 5 Mbps                  0.0
6 a 10 Mbps                   0.0
10.1 a 25 Mbps                0.0
25.1 a 50 Mbps                0.0
50.1 a 100 Mbps               0.0
100.1 a 300 Mbps              0.0
300.1 a 500 Mbps              0.0
Mayor a 500 Mbps              0.0
Otros                         0.0
Población                       0
ADSL                            0
Cablemódem                      0
Dial Up                         0
Fibra óptica                    0
Satelital                       0
Wireless                        0
Telefonía Fija                  0
3G                              1
4G                              1
Latitud                -32.846836
Longitud               -68.819147
Name: 800, dtype: object

In [572]:
df_mapa_ready.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4305 entries, 0 to 4304
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Link              4305 non-null   int32
 1   Provincia         4305 non-null   object
 2   Partido           4305 non-null   object
 3   Localidad         4305 non-null   object
 4   0 a 1 Mbps        4305 non-null   float64
 5   1.5 a 3 Mbps      4305 non-null   float64
 6   3.3 a 5 Mbps      4305 non-null   float64
 7   6 a 10 Mbps       4305 non-null   float64
 8   10.1 a 25 Mbps    4305 non-null   float64
 9   25.1 a 50 Mbps    4305 non-null   float64
 10  50.1 a 100 Mbps   4305 non-null   float64
 11  100.1 a 300 Mbps  4305 non-null   float64
 12  300.1 a 500 Mbps  4305 non-null   float64
 13  Mayor a 500 Mbps  4305 non-null   float64
 14  Otros             4305 non-null   float64
 15  Población         4305 non-null   int64
 16  ADSL              4305 non-null   int64
 17  Cablemódem        4305 non-null   int64
 18  Dial Up           4305 non-null   int64
 19  Fibra óptica      4305 non-null   int64
 20  Satelital         4305 non-null   int64
 21  Wireless          4305 non-null   int64
 22  Telefonía Fija    4305 non-null   int64
 23  3G                4305 non-null   int64
 24  4G                4305 non-null   int64
 25  Latitud           4305 non-null   float64
 26  Longitud          4305 non-null   float64
dtypes: float64(13), int32(1), int64(10), object(3)
memory usage: 891.4+ KB

In [573]:
df_mapa_ready = df_mapa_ready[df_mapa_ready['Latitud'] != 0]

In [574]:
df_mapa_ready

,Link,Provincia,Partido,Localidad,0 a 1 Mbps,1.5 a 3 Mbps,3.3 a 5 Mbps,6 a 10 Mbps,10.1 a 25 Mbps,25.1 a 50 Mbps,...,Cablemódem,Dial Up,Fibra óptica,Satelital,Wireless,Telefonía Fija,3G,4G,Latitud,Longitud
0,6854100,BUENOS AIRES,25 DE MAYO,25 DE MAYO,21.0,85.0,145.0,663.0,2356.0,2175.0,...,1,0,0,1,1,1,1,1,-35.433939,-60.173121
1,6854010,BUENOS AIRES,25 DE MAYO,AGUSTÍN MOSCONI,0.0,0.0,0.0,59.0,5.0,0.0,...,0,0,0,0,0,1,0,0,-35.739217,-60.559063
2,6854020,BUENOS AIRES,25 DE MAYO,DEL VALLE,1.0,181.0,0.0,10.0,0.0,0.0,...,0,0,0,1,0,0,1,0,-35.897345,-60.731609
3,6854030,BUENOS AIRES,25 DE MAYO,ERNESTINA,0.0,0.0,75.0,0.0,0.0,0.0,...,0,0,0,0,0,1,0,0,-35.270234,-59.557503
4,6854040,BUENOS AIRES,25 DE MAYO,GOBERNADOR UGARTE,0.0,109.0,63.0,8.0,0.0,0.0,...,0,0,0,0,1,0,0,0,-35.164397,-60.081358
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4300,82042310,SANTA FE,GENERAL LÓPEZ,WHEELWRIGHT,11.0,1.0,0.0,0.0,0.0,1383.0,...,1,0,1,1,1,1,1,1,-33.794294,-61.211441
4301,82049010,SANTA FE,GENERAL OBLIGADO,ARROYO CEIBAL,15.0,69.0,23.0,0.0,0.0,0.0,...,0,0,0,0,1,1,0,1,-28.725087,-59.480416
4302,82049020,SANTA FE,GENERAL OBLIGADO,AVELLANEDA (EST. EWALD),160.0,605.0,298.0,47.0,34.0,1659.0,...,0,0,1,0,1,1,1,1,-29.119366,-59.659251
4303,82049030,SANTA FE,GENERAL OBLIGADO,BERNA,0.0,0.0,0.0,48.0,0.0,0.0,...,0,0,0,0,1,1,0,1,-29.275268,-59.847222
4304,82049040,SANTA FE,GENERAL OBLIGADO,EL ARAZA,0.0,0.0,0.0,126.0,0.0,0.0,...,0,0,0,0,1,1,0,1,-29.133494,-59.947315

In [575]:
df_mapa_ready.columns

Index(['Link', 'Provincia', 'Partido', 'Localidad', '0 a 1 Mbps',
       '1.5 a 3 Mbps', '3.3 a 5 Mbps', '6 a 10 Mbps', '10.1 a 25 Mbps',
       '25.1 a 50 Mbps', '50.1 a 100 Mbps', '100.1 a 300 Mbps',
       '300.1 a 500 Mbps', 'Mayor a 500 Mbps', 'Otros', 'Población', 'ADSL',
       'Cablemódem', 'Dial Up', 'Fibra óptica', 'Satelital', 'Wireless',
       'Telefonía Fija', '3G', '4G', 'Latitud', 'Longitud'],
      dtype='object')

In [576]:
df_mapa_ready.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4305 entries, 0 to 4304
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Link              4305 non-null   int32
 1   Provincia         4305 non-null   object
 2   Partido           4305 non-null   object
 3   Localidad         4305 non-null   object
 4   0 a 1 Mbps        4305 non-null   float64
 5   1.5 a 3 Mbps      4305 non-null   float64
 6   3.3 a 5 Mbps      4305 non-null   float64
 7   6 a 10 Mbps       4305 non-null   float64
 8   10.1 a 25 Mbps    4305 non-null   float64
 9   25.1 a 50 Mbps    4305 non-null   float64
 10  50.1 a 100 Mbps   4305 non-null   float64
 11  100.1 a 300 Mbps  4305 non-null   float64
 12  300.1 a 500 Mbps  4305 non-null   float64
 13  Mayor a 500 Mbps  4305 non-null   float64
 14  Otros             4305 non-null   float64
 15  Población         4305 non-null   int64
 16  ADSL              4305 non-null   int64
 17  Cablemódem        4305 non-null   int64
 18  Dial Up           4305 non-null   int64
 19  Fibra óptica      4305 non-null   int64
 20  Satelital         4305 non-null   int64
 21  Wireless          4305 non-null   int64
 22  Telefonía Fija    4305 non-null   int64
 23  3G                4305 non-null   int64
 24  4G                4305 non-null   int64
 25  Latitud           4305 non-null   float64
 26  Longitud          4305 non-null   float64
dtypes: float64(13), int32(1), int64(10), object(3)
memory usage: 891.4+ KB

In [577]:
df_mapa_ready.columns

Index(['Link', 'Provincia', 'Partido', 'Localidad', '0 a 1 Mbps',
       '1.5 a 3 Mbps', '3.3 a 5 Mbps', '6 a 10 Mbps', '10.1 a 25 Mbps',
       '25.1 a 50 Mbps', '50.1 a 100 Mbps', '100.1 a 300 Mbps',
       '300.1 a 500 Mbps', 'Mayor a 500 Mbps', 'Otros', 'Población', 'ADSL',
       'Cablemódem', 'Dial Up', 'Fibra óptica', 'Satelital', 'Wireless',
       'Telefonía Fija', '3G', '4G', 'Latitud', 'Longitud'],
      dtype='object')

In [578]:
df_mapa_ready.head(50)

,Link,Provincia,Partido,Localidad,0 a 1 Mbps,1.5 a 3 Mbps,3.3 a 5 Mbps,6 a 10 Mbps,10.1 a 25 Mbps,25.1 a 50 Mbps,...,Cablemódem,Dial Up,Fibra óptica,Satelital,Wireless,Telefonía Fija,3G,4G,Latitud,Longitud
0,6854100,BUENOS AIRES,25 DE MAYO,25 DE MAYO,21.0,85.0,145.0,663.0,2356.0,2175.0,...,1,0,0,1,1,1,1,1,-35.433939,-60.173121
1,6854010,BUENOS AIRES,25 DE MAYO,AGUSTÍN MOSCONI,0.0,0.0,0.0,59.0,5.0,0.0,...,0,0,0,0,0,1,0,0,-35.739217,-60.559063
2,6854020,BUENOS AIRES,25 DE MAYO,DEL VALLE,1.0,181.0,0.0,10.0,0.0,0.0,...,0,0,0,1,0,0,1,0,-35.897345,-60.731609
3,6854030,BUENOS AIRES,25 DE MAYO,ERNESTINA,0.0,0.0,75.0,0.0,0.0,0.0,...,0,0,0,0,0,1,0,0,-35.270234,-59.557503
4,6854040,BUENOS AIRES,25 DE MAYO,GOBERNADOR UGARTE,0.0,109.0,63.0,8.0,0.0,0.0,...,0,0,0,0,1,0,0,0,-35.164397,-60.081358
5,6854050,BUENOS AIRES,25 DE MAYO,LUCAS MONTEVERDE,0.0,5.0,0.0,0.0,0.0,0.0,...,0,0,0,0,1,0,0,0,-35.483827,-59.988065
6,6854060,BUENOS AIRES,25 DE MAYO,NORBERTO DE LA RIESTRA,0.0,206.0,17.0,916.0,351.0,20.0,...,1,0,1,0,1,1,1,1,-35.272779,-59.771933
7,6854070,BUENOS AIRES,25 DE MAYO,PEDERNALES,0.0,0.0,0.0,179.0,3.0,25.0,...,0,0,1,0,1,1,0,1,-35.266609,-59.630657
8,6854080,BUENOS AIRES,25 DE MAYO,SAN ENRIQUE,0.0,0.0,0.0,0.0,11.0,0.0,...,0,0,0,0,0,1,0,0,-35.778503,-60.354645
9,6854090,BUENOS AIRES,25 DE MAYO,VALDÉS,0.0,0.0,0.0,245.0,18.0,0.0,...,0,0,0,0,0,1,0,1,-35.648813,-60.467259
10,6588030,BUENOS AIRES,9 DE JULIO,12 DE OCTUBRE,0.0,11.0,0.0,0.0,0.0,0.0,...,0,0,0,0,1,1,0,0,-35.607731,-60.918293
11,6588100,BUENOS AIRES,9 DE JULIO,9 DE JULIO,9.0,198.0,268.0,7827.0,2383.0,1002.0,...,1,1,1,0,1,1,1,1,-35.444744,-60.884343
12,6021060,BUENOS AIRES,ALBERTI,VILLA MARÍA,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,-34.888126,-60.346939
13,6021070,BUENOS AIRES,ALBERTI,VILLA ORTIZ (EST. CORONEL MOM),0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,1,1,1,1,-34.843533,-60.304850
14,6028010,BUENOS AIRES,ALMIRANTE BROWN,ADROGUÉ,67.0,9.0,76.0,303.0,141.0,12079.0,...,1,1,1,1,1,1,1,1,-34.801558,-58.391468
15,6028010,BUENOS AIRES,ALMIRANTE BROWN,BURZACO,49.0,91.0,166.0,783.0,66.0,11790.0,...,1,1,1,1,1,1,1,1,-34.831542,-58.398687
16,6028010,BUENOS AIRES,ALMIRANTE BROWN,CLAYPOLE,8.0,2.0,7.0,264.0,0.0,4240.0,...,1,1,1,0,1,1,1,1,-34.804476,-58.344783
17,6028010,BUENOS AIRES,ALMIRANTE BROWN,DON ORIONE,0.0,0.0,3.0,225.0,44.0,19.0,...,1,0,0,0,1,0,1,1,-34.821075,-58.344746
18,6028010,BUENOS AIRES,ALMIRANTE BROWN,GLEW,16.0,20.0,65.0,231.0,35.0,11892.0,...,1,1,1,0,1,1,1,1,-34.886011,-58.381830
19,6028010,BUENOS AIRES,ALMIRANTE BROWN,JOSE MÁRMOL,1.0,0.0,4.0,264.0,2.0,1556.0,...,1,1,1,0,1,1,1,1,-34.785144,-58.368148
20,6357110,BUENOS AIRES,GENERAL PUEYRREDÓN,MAR DEL PLATA,680.0,60.0,3355.0,5001.0,9860.0,115096.0,...,1,1,1,1,1,1,1,1,-38.012091,-57.606495
21,6351020,BUENOS AIRES,GENERAL PUEYRREDÓN,PUNTA MOGOTES,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,1,1,-38.083377,-57.585935
22,6357120,BUENOS AIRES,GENERAL PUEYRREDÓN,SIERRA DE LOS PADRES,3.0,1.0,128.0,341.0,1272.0,23.0,...,0,0,1,0,1,1,1,1,-37.954167,-57.771597
23,6364030,BUENOS AIRES,GENERAL RODRÍGUEZ,BARRIO RUTA 24 KILÓMETRO 10,0.0,0.0,2.0,0.0,0.0,0.0,...,0,0,1,0,0,0,1,1,-34.688216,-58.957430
24,6364030,BUENOS AIRES,GENERAL RODRÍGUEZ,COUNTRY CLUB BOSQUE REAL - BARRIO MORABO,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,1,1,-34.555000,-58.935000
25,6364030,BUENOS AIRES,GENERAL RODRÍGUEZ,GENERAL RODRÍGUEZ,51.0,3.0,694.0,571.0,6846.0,7783.0,...,1,1,1,1,1,1,1,1,-34.607924,-58.950282
26,6371010,BUENOS AIRES,GENERAL SAN MARTÍN,BARRIO PARQUE GENERAL SAN MARTIN,1.0,0.0,0.0,1.0,1.0,2450.0,...,0,1,1,0,1,1,0,1,-34.567343,-58.584311
27,62070040,RIO NEGRO,PILCANIYEU,ÑIRIHUAU,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,-41.088559,-71.136913
28,6462040,BUENOS AIRES,LEANDRO N. ALEM,JUAN BAUTISTA ALBERDI (EST. ALBERDI),0.0,0.0,0.0,0.0,0.0,0.0,...,1,0,1,0,1,1,1,1,-34.438792,-61.812189
29,6462050,BUENOS AIRES,LEANDRO N. ALEM,LEANDRO N. ALEM,0.0,0.0,4.0,136.0,16.0,0.0,...,1,0,0,0,1,0,1,1,-34.521725,-61.391183
30,6462060,BUENOS AIRES,LEANDRO N. ALEM,VEDIA,3.0,0.0,640.0,229.0,1242.0,905.0,...,0,0,1,1,1,1,1,1,-34.497398,-61.545345
31,6469010,BUENOS AIRES,LINCOLN,ARENAZA,0.0,293.0,0.0,0.0,0.0,0.0,...,0,0,1,0,0,1,1,1,-34.984604,-61.772912
32,6469020,BUENOS AIRES,LINCOLN,BAYAUCA,1.0,0.0,0.0,0.0,55.0,0.0,...,0,0,0,0,1,1,1,1,-34.871051,-61.289545
33,6469030,BUENOS AIRES,LINCOLN,BERMÚDEZ,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,-34.696605,-61.325013
34,6469040,BUENOS AIRES,LINCOLN,CARLOS SALAS,0.0,91.0,32.0,0.0,0.0,0.0,...,0,0,0,0,1,0,0,0,-35.391366,-61.994910
35,6469050,BUENOS AIRES,LINCOLN,CORONEL MARTÍNEZ DE HOZ (AP. KILÓMETRO 322),0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,1,1,1,-35.332182,-61.614085
36,6469060,BUENOS AIRES,LINCOLN,EL TRIUNFO,0.0,0.0,0.0,10.0,0.0,0.0,...,0,1,1,0,0,1,1,1,-35.088221,-61.516333
37,6469070,BUENOS AIRES,LINCOLN,LAS TOSCAS,247.0,23.0,0.0,60.0,0.0,0.0,...,0,0,0,0,0,1,0,0,-35.362759,-61.806160
38,6469080,BUENOS AIRES,LINCOLN,LINCOLN,4.0,0.0,162.0,1376.0,529.0,461.0,...,1,1,1,0,0,1,1,1,-34.869042,-61.529165
39,6469090,BUENOS AIRES,LINCOLN,PASTEUR,2.0,389.0,63.0,7.0,0.0,0.0,...,0,0,0,1,1,1,1,1,-35.142639,-62.243903
40,2000010,CABA,COMUNA 01,CONSTITUCION,0.0,0.0,0.0,0.0,0.0,0.0,...,1,1,1,1,1,1,1,1,-34.625048,-58.384387
41,10070120,CATAMARCA,LA PAZ,QUIRÓS,0.0,27.0,0.0,0.0,0.0,0.0,...,0,0,0,0,1,1,0,1,-28.788306,-65.100730
42,10070130,CATAMARCA,LA PAZ,RAMBLONES,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,-29.158284,-65.374945
43,10070140,CATAMARCA,LA PAZ,RECREO,6.0,0.0,0.0,49.0,3.0,91.0,...,1,0,1,1,1,1,1,1,-29.276861,-65.056564
44,10070150,CATAMARCA,LA PAZ,SAN ANTONIO,0.0,26.0,0.0,0.0,0.0,0.0,...,0,0,0,0,1,1,1,1,-28.933105,-65.094966
45,10077010,CATAMARCA,PACLÍN,AMADORES,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,-28.268036,-65.646211
46,10077020,CATAMARCA,PACLÍN,EL ROSARIO,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,-27.987754,-65.688607
47,10077030,CATAMARCA,PACLÍN,LA BAJADA,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,-28.392052,-65.628265
48,10077040,CATAMARCA,PACLÍN,LA HIGUERA,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,-27.935283,-65.699367
49,10077050,CATAMARCA,PACLÍN,LA MERCED,10.0,0.0,0.0,49.0,12.0,0.0,...,0,0,0,1,1,1,0,0,-28.153765,-65.669606

---
Carga de Datos a la DB
---
---

In [579]:
# Datos para conectar a la DB
connection = pymysql.connect(
    host='bn83gilwrcfotqoazybx-mysql.services.clever-cloud.com',
    user='uc0tzjpbwmcv8ro5',
    password='LaNI5u2ZjXzafghQRntP',
    db='bn83gilwrcfotqoazybx'
)

# Dropea una tabla si esta existe [[[Dropea la tabla si existe]]]
# Crear un cursor
cursor = connection.cursor()
create_table_query = '''
DROP TABLE IF EXISTS `bn83gilwrcfotqoazybx`.`mapa_conectividad_total3`
'''
 # Ejecutar la consulta
cursor.execute(create_table_query)
# Confirmar los cambios
connection.commit()


# Crear un cursor   [[Crea la tabla]]]
cursor = connection.cursor()
# Crear una tabla en la DB
create_table_query = '''
CREATE TABLE `bn83gilwrcfotqoazybx`.`mapa_conectividad_total3` (
`link` INT NOT NULL ,
`provincia` VARCHAR(50) , 
`partido` VARCHAR(30) ,
`localidad` VARCHAR(80) , 
`0 a 1 Mbps` INT NOT NULL ,
`1.5 a 3 Mbps` INT NOT NULL ,
`3.3 a 5 Mbps` INT NOT NULL ,
`6 a 10 Mbps` INT NOT NULL ,
`10.1 a 25 Mbps` INT NOT NULL ,
`25.1 a 50 Mbps` INT NOT NULL ,
`50.1 a 100 Mbps` INT NOT NULL ,
`100.1 a 300 Mbps` INT NOT NULL ,
`300.1 a 500 Mbps` INT NOT NULL ,
`mayor a 500 Mbps` INT NOT NULL ,
`otras_velocidades` INT NOT NULL , 
`poblacion` INT NOT NULL ,
`ADSL` INT NOT NULL , 
`cablemodem` INT NOT NULL , 
`dial-up` INT NOT NULL , 
`fibra_optica` INT NOT NULL , 
`satelital` INT NOT NULL , 
`wireless` INT NOT NULL ,
`tel_fija` INT NOT NULL , 
`3G` INT NOT NULL ,
`4G` INT NOT NULL ,  
`latitud` DECIMAL(16,13) ,
`longitud` DECIMAL(16,13)) ENGINE = InnoDB;;
'''
 # Ejecutar la consulta
cursor.execute(create_table_query)
# Confirmar los cambios
connection.commit()



# Mandar los datos a la DB [[Cargar DATA]]
cursor = connection.cursor()
for i, row in df_mapa_ready.iterrows():
    sql = '''
    INSERT INTO `bn83gilwrcfotqoazybx`.`mapa_conectividad_total3` (
    `link` ,
    `provincia` , 
    `partido` ,
    `localidad` , 
    `0 a 1 Mbps` ,
    `1.5 a 3 Mbps` ,
    `3.3 a 5 Mbps` ,
    `6 a 10 Mbps` ,
    `10.1 a 25 Mbps` ,
    `25.1 a 50 Mbps` ,
    `50.1 a 100 Mbps` ,
    `100.1 a 300 Mbps` ,
    `300.1 a 500 Mbps` ,
    `mayor a 500 Mbps` ,
    `otras_velocidades` , 
    `poblacion` ,
    `ADSL` , 
    `cablemodem` , 
    `dial-up` , 
    `fibra_optica` , 
    `satelital` , 
    `wireless` ,
    `tel_fija` , 
    `3G` ,
    `4G` ,  
    `latitud` ,
    `longitud`) VALUES 
    (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    '''
    cursor.execute(sql, (row['Link'], row['Provincia'], row['Partido'], row['Localidad'], 
                         row['0 a 1 Mbps'], row['1.5 a 3 Mbps'], row['3.3 a 5 Mbps'], row['6 a 10 Mbps'], row['10.1 a 25 Mbps'], 
                         row['25.1 a 50 Mbps'], row['50.1 a 100 Mbps'], row['100.1 a 300 Mbps'], row['300.1 a 500 Mbps'], row['Mayor a 500 Mbps'], row['Otros'],
                         row['Población'], row['ADSL'], row['Cablemódem'], row['Dial Up'], row['Fibra óptica'], 
                         row['Satelital'], row['Wireless'], row['Telefonía Fija'], row['3G'], row['4G'], row['Latitud'], row['Longitud']))

connection.commit()

# Cerrar la conexión
connection.close()

In [559]:
df_mapa_ready.columns

Index(['Link', 'Provincia', 'Partido', 'Localidad', '0 a 1 Mbps',
       '1.5 a 3 Mbps', '3.3 a 5 Mbps', '6 a 10 Mbps', '10.1 a 25 Mbps',
       '25.1 a 50 Mbps', '50.1 a 100 Mbps', '100.1 a 300 Mbps',
       '300.1 a 500 Mbps', 'Mayor a 500 Mbps', 'Otros', 'Población', 'ADSL',
       'Cablemódem', 'Dial Up', 'Fibra óptica', 'Satelital', 'Wireless',
       'Telefonía Fija', '3G', '4G', 'Latitud', 'Longitud'],
      dtype='object')